:ruby
  breadcrumbs = %w( Mac/index.haml Mac/System/index.haml )
  title_hash = {
    Sierra: 'Sierra での変更点',
    procedure: '移行手順',
    conclusion: 'まとめ'
  }
= nav_tabs title_hash
#myTabContent.tab-content
  - title_hash.keys.each do |k|
    %div{ tab_pane_class(title_hash, k) }
      %h2.h4= title_hash[k]
      - case k
      - when :Sierra
        %p
          macOS Sierra から iCloud Drive の機能が拡張され、書類フォルダとデスクトップが iCloud で同期できるようになった。
          これまで、複数端末(iOS 機器含む)でのファイル共有は Dropbox(無料) に頼ってきた。
          どうせ Apple 製品しか利用していないので、この際 iCloud Drive への引越を考えることにした(iCloud は毎月130円課金して50GB まで増設しているし)。

        %p
          まず、状況を知るために比較的書類とデスクトップにファイルを置いていない MacBook で機能を試してみた。調査してわかったことは以下の通り。
          %ul
            %li Finder の表示オプションに「iCloud の状況」の列が増えた。書類とデスクトップではこの列を表示しておくとよいと思う。
            %li この列を見ると iCloud で共有されないファイルには雲マークに斜線が引かれている。自動的に除外されているファイルは以下の通り
            %ul
              %li vim のバックアップファイルである「*~」
              %li tmp フォルダの下にあるファイルすべて
            %li iCloud のサイトで確認すると「.」で始まるファイルも送られていなさそう。
            %li 「この Mac について」の「ストレージ」を見ると「パージ可能」という領域が表示される。これは、ローカルのストレージの容量が少なくなったときに、ファイルを消してしまっても構わないファイルサイズとなる。MacBook のようにストレージが少ないマシンには有用な機能だと思う。
        %p
          これらのことを踏まえて、試行錯誤で作業しつつ、最終的に自分のファイル管理ポリシーを決めていく
      - when :procedure
        %p
          ここでは実際に移行手順を説明していく。すでに MacBook で機能を有効にしているので、MacBook Pro の方で機能をオンにすると MacBook のデスクトップと書類が MacBook Pro の方に展開され、MacBook Pro のファイルは一つの場所に閉じ込められてしまう。どちらにしても、MacBook Pro の書類・デスクトップの容量は iCloud の容量を遙かに超えており、アップグレードを求められてしまうので、先に MacBook Pro の方のファイルの整理を実施する。
        %ol
          %li 事前準備(ファイルの除外)
          %dl
            %dt Documents/MATLAB
            %dd
              シミュレーションに使う画像データはかなり膨大になるので、これを iCloud で同期するのは厳しい。
              このフォルダの中身だけ MacBook、MacBook Pro 共に ~/myMatlab に移動する(同期しない)。
              ただし、setup.m だけは Documents/MATLAB の中に残しておく。
            %dt Documents/Wolfram Mathematica
            %dd MATLAB と同じ扱い。
            %dt Documents/仮想マシン
            %dd
              VMWare fusion の仮想マシンが入るフォルダ。
              ここだけで 200GB くらいある。
              こちらも ~/仮想マシンというフォルダに移動。
              移動後に VMware fusion を起動し、「仮想マシンのライブラリ」に登録し直す(Finder からドラッグすればよい)。
              仮想マシンを立ち上げると、場所が変わったことが検出されるので、「移動しました」を選択すればこれまで通り使えるようになる(Windows 7 x64, Windows 8.1 x64、Windows 10 x64 のすべての動作を確認した)。
            %dt Documents/LaTeX
            %dd
              論文や実験指導書など LaTeX で作成した文書が登録されている。
              ただし、LaTeX のほとんどのフォルダは現在、Bitbucket 上で git 管理しているため、iCloud で同期する必要は無い。
              このため、MacBook、MacBook Pro 共に ~/LaTeX に移動する。
            %dt Documents/dotfiles
            %dd
              UNIX の「.」で始まるファイルをリポジトリ管理しているフォルダ。
              これも ~/dotfiles に移動する。
            %dt Desktop
            %dd 基本的に一次ファイル置き場になっているので、MacBook Pro の方のデスクトップを ~/old.desktop というフォルダに一括移動
          %li MacBook Pro 側の同期開始
          %dl
            %dt 容量の確認
            %dd 大量のデータ移動があると恐いので、書類とデスクトップの容量を確認する。書類は 24MB、デスクトップは空にしたので 0MB だった。
            %dt iCloud Drive の設定変更
            %dd
              「システム環境設定」「iCloud」「iCloud Drive」「書類」において、「"デスクトップ"フォルダと"書類"フォルダ」にチェックを入れる。
              チェックを入れた瞬間にデスクトップに MacBook のデスクトップに置かれたファイルが現れ、書類フォルダも MacBook の中身がコピーされてきた。また、従来の書類に入っていたものは「書類 - rMBP」というフォルダに移されていた。
          %li Documents 管理項目の追加
          %dl
            %dt by_kind フォルダの登録
            %dd
              授業ごとにフォルダは MacBook Pro 内の by_kind というフォルダの下で管理していた。
              これまでは必要に応じて sshfs でマウントしたり、scp でコピーして戻す運用をしていたが、iCloud の容量に余裕があるので、このフォルダを Documents の下に展開する。
              ただし、授業で学生が作成した成果物などもこのフォルダに保存されている。
              これらはほとんど git 管理されているため、Documents 外で一括管理することにする(git 管理でないものはそこに残す)。
            %dt by_year フォルダの登録
            %dd
              カテゴリが別れていない文書や他人から受け取った様々な書類はフォルダで管理しきれないため、すべて日付で管理し、by_year フォルダに保存している。
              これまでは、Dropbox の下で管理していたが、こちらも iCloud Drive に移動する。
              各ファイルは「by_year/YYYY/YYYY_MM/YYYY_MM_DD」というフォルダの下に日付ごとに管理されている。
              当然こんなフォルダを手で作っていては大変なので、move_ymd という Automator アプリケーションを利用している(今回の移動に伴ってスクリプトも書き換えた)。
            %dd
              .col-md-12
                %img{ image_url_alt('automator_move_ymd.png') }
            %dd
              このアプリは move_ymd という名前で保存されており、Finder のツールバーに置いてある。
            %dd
              .col-md-12
                %img{ image_url_alt('finderXbb.png') }
            %dd
              普段は管理したいファイルを Finder で選び、ymd と書かれたツールバーのアプリをクリックするだけで、自動的に最終更新日の日付のフォルダに移動する(フォルダがなければ自動的に作成する)。
            %dt その他のファイル
            %dd 適宜同期すべきデータがあれば、Documents にフォルダを作成する。
      - when :conclusion
        %p
          Dropbox と異なり、Apple が用意しているフレームなので、システムと親和性がよい。
          実際、iPhone 上の iCloud Drive の応答性も良さそうである。
          Papers など iPhone のアプリでまだ Dropbox 依存しているものもあるため、うまく棲み分けていきたいと思う。
