%ul.nav.nav-tabs
  - title_hash.each do |k, v|
    - active = k == title_hash.keys.first
    %li{ class: active ? :active : nil }
      %a{ href: "##{ k }", aria: { expanded: active }, data: { toggle: :tab }}
        = v

