- col_num = 12 / images.count
- cols = "col-md-#{col_num} col-xs-#{col_num}"
.row
  - if images.count == 3
    - images.each do |hash|
      %div{ class: cols }
        - if hash
          %img{ hash }
          %br
          図#{number} #{hash[:alt]}
          - number += 1
