:ruby
  require 'find'

  files = Find.find('contents/haml/').select { |f| f =~ /.haml$/ }.map { |f| [ File::mtime(f), f.gsub('contents/haml/', '')] }.sort.reverse
%h2 #{title} タグに関するページ
%p 最近更新されたページは上に表示されています。
- files.each do |mtime, file|
  - unless file == 'history.haml'
    - file_info = @objs['links'][file]
    - tags = file_info['tags']
    - date = file_info['date']
    - tag = @fname_without_base.gsub('Tags.haml', '')
    - if tags && tags.split(',').include?(tag)
      - u, n = link_url_name file, @objs['history_button_class']
      %a{ u }
        .row
          .col-md-9
            .text-center
            = n
            - if date
              = ':'
              = date_only_str(Date.parse(date))
          .col-md-3
            .text-right= date_str mtime
:ruby
  tagCount = Hash.new(0)
  links = @objs['links']
  links.values.each do |link|
    if tags = link['tags']
      tags.split(',').each do |tag|
        tagCount[tag] += 1
      end
    end
  end

%h2.h4 タグ一覧
- tagCount.sort_by { |k, v| v }.reverse.each do |t, v|
  - u, n = link_url_name "#{t}Tags.haml", @objs['breadcrumb_button_class']
  %a{ u }
    = n
    %span.badge= v
