:ruby
  breadcrumbs = %w( Mac/index.haml Mac/System/index.haml )
  title_hash = {
    description: '説明', teamBuild: 'チームの決定', moodle: 'moodle の設定', redmine: 'Redmine の設定', bitbucket: 'Bitbucket の設定', jenkins: 'Jenkins の設定', conclusion: 'まとめ'
  }
= nav_tabs title_hash
#myTabContent.tab-content
  - title_hash.keys.each do |k|
    %div{ tab_pane_class(title_hash, k) }
      %h2.h4= title_hash[k]
      - case k
      - when :description
        %p
          4年後期のソフトウェア設計Iという授業では、前期に自分たちで作成した4bit CPU(TD4)のソフトウェアエミュレータを作成している。
          この授業では、このエミュレータを設計から実装までを 4 人または 5 人のグループで共同開発する。
          この授業の特徴は以下の通り。
          %ul
            %li グループにはリーダを置く。このリーダは1行たりともプログラムソースを書いてはならない。あくまでプロジェクトマネジメントのみに徹する
            %li リーダはメンバに Redmine というプロジェクト管理システムを通じて、テストの記述、実装の記述を指示する。
            %li メンバはペアプログラミングを実施し、ドライバとナビゲータが協力して、テストや実装を記述していく(ただし、テストでドライバになったものは、実装のドライバになってはいけない)。
            %li プログラムソースは git で差分管理し、Bitbucket というリポジトリ管理サーバで共有する。
            %li リポジトリ更新は Jenkins で見張っており、テストの通過状況はすべてログ管理される
            %li 当然ながら授業は端末室で実施されているが、リポジトリは自宅でも取得可能なため、放課後や帰宅後にプログラム記述することが可能である
            %li 授業中、端末室の PC を利用せず、自分の PC でプログラムを記述する学生もいる
            %li 授業評価は生成されたプログラムではなく、班の中のアクティビティを中心に実施する。これは プロジェクト管理システムである Redmine のログから取得する。
            %li 毎週授業の終わりには、振り返り時間を用意する。これは moodle の課題としており、これも評価の一部となる。
        %p
          一度授業が回ってしまえば、教員は学生の動きを見てファシリテータとして活動すればよいのだが、このためには上記システムの設定が肝心である。
          毎年忘れてしまうので、ここに覚え書きを記しておくことにする。
      - when :teamBuild
        %p
          以前、チームは 3 名で実施していたが、チーム内で欠員ができるとグループが崩壊するので、最低人数を 4 名とした。
          現在のチームの決定方法は以下の通りである。
          %ul
            %li リーダを自薦してもらう
            %li 自薦でチーム数が埋まらない場合他薦で埋める(ただし、他薦の場合には本人がやる気があるかどうかだけは確認する)
            %li リーダに記録用紙を配布し、一緒に作業をしたい人を一名挙げてもらう(ドラフト制度)。
            %li ドラフト会議のように、ホワイトボードに記載していき、被らなかった場合には確定
            %li 複数チームで希望が被った場合には、被った同士で調整する(ほとんどの場合はじゃんけん、くじで決定する)
            %li 希望が叶わなかったリーダでこれを繰り返し、最低一人はリーダの味方になるメンバを確保してもらう
            %li 残りのメンバは、moodle の投票で決定する(詳細は moodle の設定で説明)
      - when :moodle
        %p この授業で使っている moodle の機能は以下の通り
        %dl
          %dt チーム投票
          %dd
            前述のチーム投票のための設定を示す
            %ol
              %li リーダとドラフト選抜者以外の残りのメンバを乱数で設定するプログラムを作成する(実質は名前を書き換えるだけ)
              %li プログラムを実行し、5 種類のパターンを作成する
              %li moodle の投票システムに 5 パターンを提示し、投票させる(この時は投票結果がリアルタイムに見えるようにする)
              %li ほとんどの場合、一回目の投票で過半数を超えないため、上位 2 パターンで決選投票を行う(この時には結果は投票終了後にしか見えないようにする)
              %li チームが確定したら、moodle のグループを設定する
          %dt 振り返りの記述
          %dd
            クオータのように集中して授業が展開できない場合、1 週間後には記憶が残っていない場合が多い。
            少しでも記憶に残してもらうために、授業終了間際に振り返りを記述する時間を設けている。
            これも課題扱いとしており、アクティビティとして集計される。
            必要な場合には、振り返りに対してフィードバックを記述する場合もある。
          %dt 設計書の提出
          %dd
            ソフトウェアの設計書は Xmind で記述している。
            設計書は毎回 moodle で課題提出させることにしており、気になるところは班員全員にフィードバックを実施している。
            設計書自体はリポジトリでもリアルタイムに共有をしているが、定期的なポイントでのフィードバックも記録に残したいため、課題という形での提出をさせている。
            この作業もアクティビティとして評価する(以下に示すようにグループごとに提出なので、評価もグループごとである)
        %p
          %img{ image_url_alt('moodleXmind.png') }
      - when :redmine
        %p
          プロジェクト管理システムは班の数だけ同時に実施する必要があるため、抜けがないように班数分だけのタブを開き、一つの作業ごとにタブを切り替えて実施する。
          作業内容は以下の通り(以下 2016 年度の場合を例にする)。
          %ol
            %li ソフトウェア設計I-2016 というプロジェクトを作成する
            %li サブプロジェクトで「A「リーダ名」班-ソフトウェア設計I-2016」〜「I「リーダ名」班-ソフトウェア設計-2016」までの 9 つの班を作成する(班の数は該当年度の在籍数で前後する)。非公開設定するすることを忘れないこと。以前はリーダ名を書いていなかったが、授業でのファシリテーションが楽になるので、リーダ名を記述することにした
            %li タブを 9 つ開く。以下の作業はすべてのタブで並列に作業する
            %li 設定タブを開く
            %li メンバ-サブタブを開く
            %li 自分を「管理者」というロールで登録する
            %li 各班のリーダを「グループリーダ」というロールで登録する
            %li その他のメンバを「グループメンバ」というロールで登録する
            %li リポジトリとして Redmine のホーム以下に設置したリポジトリを設定する
        %p
          これらの設定を実施することで教員は以下の活動を確認できる。
          %dl
            %dt リポジトリ
            %dd
              現在は外部の Bitbucket にリポジトリを置いているので、あまり Redmine でリポジトリを見る意味はない。
              ただし、Redmine にリポジトリを設定していると後述する「活動」タブにプログラムのコミット履歴が追記される。
              この結果、プログラムの更新履歴もアクティビティとして一箇所で評価が可能となる。
            %dt 活動
            %dd
              チケットの更新履歴、リポジトリの更新履歴が時系列で確認できる。最終的なアクティビティは、ここで表示される結果をスクリプト処理することで集計している。
            %dt ガントチャート
            %dd
              学生がチケットに期限を設定することで、Redmine が自動的にガントチャートを描画してくれる。教員はこのガントチャートにより、プロジェクトの遅れなどを確認することが可能となる(今年はまだこれからなので、以下の図は昨年度の例)。
        %p
          %img{ image_url_alt('ganttChart.png') }
      - when :bitbucket
        %p
          Bitbucket では Redmine と同様に班の数だけリポジトリを作成する。以下手順を示す。
          %ol
            %li ローカルのフォルダに td4base というフォルダを作成する。ここには自作のテストフレームワーク、Makefile、.gitignore など学生に最初に配布するファイルを配置しておく。
            %li git init して git リポジトリにして、該当するファイルをコミットする
            %li Bitbucket に sdi2016a 〜 sdi2016i までのリポジトリを作成する。非公開で C プロジェクトとする
            %li td4base フォルダから、Bitbucket のリポジトリに一斉にpush する
            = include_oneliner 'for k in a b c d e f g h i; git push git://bitbuket.org:hkob/sdi2016$k.git master; end (fish の場合)'
            %li 学生は 3 年生の時に ac.jp のドメインでアカウントを作らせているので、6人以上のグループでも共有が可能である。学生のメールアドレスで検索し、各班のリポジトリに学生を招待する
        %p
          作成されたリポジトリは以下のようになる
          %img{ image_url_alt('bitbucketSoftwareDesignI.png') }
      - when :jenkins
        %p
          学生の進捗をリアルタイムで記録するために、Jenkins でログを記録する。
          設定した項目は以下の通り(A班の場合)
          %dl
            %dt プロジェクト名
            %dd sdi2016a_「リーダ名」班
            %dt Git Repositories
            %dd git@bitbucket.org:hkob/sdi2016a.git (公開鍵などは Jenkin に登録済)
            %dt ビルド・トリガ
            %dd
              授業中は5分ごと、それ以外は1時間に1回だけ SCM をポーリング (学内サーバのため bitbucket のサーバからの web hook が使えないため)
              = include_oneliner "(H/5 8,9,10 * * 1)\n@hourly"
            %dt ビルド
            %dd
              シェルの実行を選び。以下のスクリプトを設置する。Jenkins に pull すると同時に Redmine サーバのリポジトリに push する。これで Redmine の方でもリポジトリ情報が更新され、活動タブに表示されるようになる。
              = include_oneliner "pushd /Users/hkob/lecGit/012.SoftwareDesignI/2016/sdi2016a\ngit pull\ngit push ssh://「Redmine のサーバ」/「リポジトリ置き場」/sdi2016.git master\npopd\n./doTest\n"
        %p
          上記の設定で、Jenkins の一覧を表示するとこんな感じになる。
          名前にリーダの名前が入っているので、そこだけ黒塗りした。
          Jenkins 設定後に moodle に提出された設計書をリポジトリに追加したため、いくつかの班はビルド数が 2 になっていた。
          f 班だけ初期登録時にリポジトリのコリジョンでエラーになってしまったので失敗ビルドになっているが、その後設計書の登録で成功ビルドに移っている。
        %p
          %img{ image_url_alt('jenkinsSoftwareDesignI.png') }
      - when :conclusion
        %p
          この授業では、moodle, Redmine, Bitbucket, Jenkins などソフトウェア業界でよく利用されているツールを用いて、授業展開を実施している。
          事前準備はかなり大変だが、これらのツールがあるおかげで、以下のようなメリットがあると考えている。
          %ul
            %li チケットを起こすことで、リーダの指示内容が明確になる(Redmine)
            %li 振り返りを記録に残すことで、翌週にすぐに続きを実施できる(moodle)
            %li 学生にスケジュール管理の意識を持たせる(Redmine)
            %li 各班進捗状況が可視化できる(Redmine, Jenkins)
            %li 学生は自分の PC でも作業が可能となる (Bitbucket)
        %p
          あとは教員のファシリテーションにかかっている。
