%p これまでに作成した Rails によるシステムを紹介します
:ruby
  breadcrumbs = %w( Rails/index.haml )
  title_hash = {
    webcit: '校務支援システム', album: '写真収集', microworld: 'マイクロワールド', mindmap: 'マインドマップ', whiteboard: 'ホワイトボード', cmdb: '森高千里DB'
  }
= nav_tabs title_hash
#myTabContent.tab-content
  - title_hash.keys.each do |k|
    %div{ tab_pane_class(title_hash, k) }
      %h2.h4= title_hash[k]
      - case k
      - when :webcit
        %ul
          %li 校務のサポートをするために作成されたシステム
          %ul
            - %w( webcitc webcit ).each do |key|
              %li
                - u, n, d = link_outer_url_name  key, @objs['outer_link_button_class']
                %a{ u }
                  = n
                = d
          %li それぞれのシステムは以下の機能を持つ
          %ul
            %li 教職員用: 出席管理・成績管理・証明書発行・学籍管理・施設予約・予算管理等
            %li 学生用: 成績確認・学生アンケート・到達度評価等
      - when :album
        %ul
          %li 卒業アルバム作成のための写真収集サーバ
          %li 平成27年度 卒業研究で作成
          %li タグベースで写真を管理
          %li 卒業委員の機能
          %ul
            %li 全員分の写真を閲覧 (タグで抽出)
            %li 写真への評価
          %li 一般学生(卒業委員も含む)の機能
          %ul
            %li 自分の写真をタグを付けて投稿 (最低一つのタグは必須)
            %li 自分の写真の閲覧 (タグで抽出)
          %li 画面イメージ
          .col-md-12
            %img{ image_url_alt('picturebox.png') }
      - when :microworld
      - when :mindmap
      - when :whiteboard
      - when :cmdb
