:ruby
  breadcrumbs = %w( Mac/index.haml Mac/System/index.haml )
  title_hash = {
    description: '説明', macros: '作成したマクロのマニュアル', example: '使用例', definition: 'マクロ定義'
  }
= nav_tabs title_hash
#myTabContent.tab-content
  - title_hash.keys.each do |k|
    %div{ tab_pane_class(title_hash, k) }
      %h2.h4= title_hash[k]
      -case k
      - when :description
        %p
          私が作っているシステムでは、システム内部で LaTeX を動かして直接 PDF を出力するようにしている。
          このシステムのメリットは、処理システム側の出力をマクロにすることで簡潔化できるだけでなく、多少の修正であればスタイルファイル側で吸収できることにある。
          例えば、単位修得証明書は成績が出力されない以外はほぼ成績証明書と同じデータを出力する。
          このため、処理システムでは同一メソッドを利用することが可能となっている(スタイルファイルの指定だけを変えている)。
        %p
          本校では Word や Excel で作られた枠に囲まれた書式の書類が多く使われる。
          上記システムから出す帳票もこのような様式出力をすることが多く求められる。
          ここで問題になるのがこのような帳票形式のスタイルファイルを作成することである。
          このような帳票を LaTeX の tabular 環境で作るのは非常に大変なので、picture 環境を使って作成するようにしている。
        %p
          以前作成していた様式のスタイルファイルでは、計測した座標に合わせて絶対座標で罫線などを記載していた。
          しかしながら、帳票に後から項目を追加して欲しいなどという要望を受けることも多くかなり面倒な思いをすることがあった。
          すっかり記憶から抜けていたが、こんなことを何度もやるのが大変だと思ったから、数年前に一念発起してここに示すマクロを記述していたようだ。
          今後もかなり使えそうな気がするので、覚え書きとしてここにまとめておくことにする。
      - when :macros
        %h2.h3 絶対座標系
        %ul
          %li \global\fw=横幅
          %p
            これはマクロではないが表の横幅を最初に変数に定義しておく。
            あとで横幅が変わっても該当箇所を直さずにすませるためである。
          %li \newcommand{\ahline}[2]{\put(#1){\line(1,0){#2}}}%
          %p
            指定した座標(#1)から長さ(#2)の横罫線を記述する
            = include_oneliner '例: \ahline{0,146}{\fw}', :tex
          %li \newcommand{\avline}[2]{\put(#1){\line(0,1){#2}}}%
          %p
            指定した座標(#1)から長さ(#2)の縦罫線を記述する
            = include_oneliner '例: \ahline{53,0}{249}', :latex
          %li \newcommand{\ambox}[4]{\put(#1){\makebox(#2)[#3]{#4}}}%
          %p
            指定した座標(#1)を左下とする箱の大きさ(#2)の箱を記述する。箱の中には中身(#4)を位置指定(#3)に従って配置する。
            = include_oneliner '例: \ambox{0,266}{\fw,6}{l}{(様式1　　学籍に関する記録)}%', :latex
          %li \newcommand{\ammbox}[5]{\put(#1){\makebox(#2)[#3]{\begin{minipage}{#4}#5\end{minipage}}}}%
          %p
            指定した座標(#1)を左下とする箱の大きさ(#2)の箱を記述する。箱の中には文章(#5)を位置指定(#3)に従って、指定した幅(#4)で配置する。
            = include_oneliner '例: \ammbox{144,118}{37,18}{}{35mm}{氏名}', :tex
        %h2.h3 相対座標系
        %ul
          %li \newcommand{\resetBase}{\global\bposx=0\global\bposy=0}%
          %p
            内部変数\bposx, \bposy を 0 にする。
            ある程度の固まりごとに基準座標(\bposx, \bposy)を設置し、そこからの相対座標(\posx, \posy) にコンテンツを描画する。
            すなわち、すべてのコンテンツは (\bposx+\posx, \bposy+\posy) の座標に描画することになる。
          %li \newcommand{\changeBase}[2]{\global\advance\bposx by #1\global\advance\bposy by #2\global\posx=0\global\posy=0\put(\bposx,\bposy)}%
          %p
            前回の基準座標との差(#1, #2)を渡し、基準座標を相対的に更新する。

        %p
          ここまで書いていて忙しくなって止まっていた。後で続きを書く
      - when :example
        %p
          ここまで書いていて忙しくなって止まっていた。後で続きを書く
      - when :definition
        %p
          ここまで書いていて忙しくなって止まっていた。後で続きを書く

