:ruby
  breadcrumbs = %w( Mac/index.haml Mac/Swift/index.haml )
  title_hash = {
    description: '説明', create_project: 'プロジェクトの作成', git_setting: 'Git の設定', create_view: 'View を作る', connect_to_controller: 'Controller と繋げる', calc: 'メソッドの記述'
  }
= nav_tabs title_hash
#myTabContent.tab-content
  - title_hash.keys.each do |k|
    %div{ tab_pane_class(title_hash, k) }
      %h2.h4= title_hash[k]
      - case k
      - when :description
        %p
          このテキストは都立産業技術高専のソフトウェア設計IIの授業のために書き下ろしたものです。
          ここでは初めて作る GUI アプリとして、簡単な電卓を作ります。
        %p
          GUI のアプリケーションでは通常、MVC アーキテクチャをベースに作ります。
          MVC とは以下の 3 つのコンポーネントを用意する手法です。
          %dl
            %dt Model
            %dd アプリが持つデータやそれに対するロジックを記述します
            %dt View
            %dd ユーザとのインターフェースを記述します
            %dt Controller
            %dd Model と View の間を取り持ちます
        %p
          以下の記述では MVC を意識して作成していきます。
      - when :create_project
        %ol
          %li workspace の作成
          %ol
            %li Xcode を起動します。
            %li まず最初に授業用の Workspace を作ります。[File] - [New] - [Workspace...] をクリックします。
            %li Save dialog が出るので、自分の保存したい場所に「SoftwareDesignII」といった名前を付けて保存しまします。
          %li BasicCalculator プロジェクトの作成
          %ol
            %li 次の複素数電卓用のプロジェクトを作ります。[File] - [New] - [Project...] をクリックします。
            %li 左側の [iOS] の下の [Application] をクリックします。
            %li 右側に出てくる [Single View Application] を選び [Next] をクリックします。
            %li 以下の値を入力します
            %dl
              %dt Project Name:
              %dd BasicCalculator とします。
              %dt Organization Name:
              %dd 自分の名前を入れます(例: Hiroyuki KOBAYASHI)。
              %dt Organization Identifier:
              %dd 所属を一意に示すことができる識別子を入れます。通常はドメイン名+自分の情報を逆順にして入れます(例: jp.ac.metro-cit.hkob)。
              %dt Language:
              %dd この授業では Swift を使います。
              %dt Devices:
              %dd この授業ではとりあえず iPad にしておきます。
              %dt Use Core Data:
              %dd チェックを外します。モデルデータをデータベースで管理するときにチェックします。
              %dt Include Unit Tests
              %dd チェックします。モデルのテストを実行したいためです。
              %dt Include UI Tests
              %dd チェックします(今回はここまで説明はできませんが)。
            %li Next を押します。
            %li 一番下の Add to で先ほど作成した「SoftwareDesignII」ワークスペースを追加します。
            %li Git リポジトリは作りたいので、チェックは付けたままにします。
            %li 保存する場所が確定したら [Create] をクリックします。
            %li 開いたら左上の「▶」をクリックするだけで、アプリケーションが立ち上がります。
      - when :git_setting
        %ol
          %li .gitignore の準備
          %ol
            %li ターミナルで BasicCalculator のフォルダに移動します(フォルダの場所は自分の保存した場所に読み替えてください)。
            = include_oneliner 'cd xcode/ComplexCalculator', :bash
            %li .gitignore を作成します(事前に gibo -u でアップデートしておくとよいです。Mac 室ならクリックだけでできるコマンドが用意されています)。
            = include_oneliner 'gibo OSX Xcode > .gitignore'
          %li SourceTree への登録
          %ol
            %li Xcode で git も取り扱えますが、SourceTree の方が慣れていると思うので、SourceTree でリポジトリを管理します。

            %li SourceTree で既存のリポジトリを取り込みます。
            %li .gitignore が登録されていないので、登録してコミットしておきます。
            %li Bitbucket へ接続したい人はあとで自分でやってください(授業中にはやりません)。
      - when :create_view
        %ol
          %li Text Field の配置
          %ol
            %li 基本的な電卓はロジックはほとんどないので、View と Control だけでできてしまいます。最初に View を作成します。
            %li 黄色の BasicCalculator フォルダを開き、Main.storyboard をクリックします。画面は下のようになります。
            %img{ image_url_alt('XcodeWindow.png') }
            %li オブジェクトのフィルタに text とタイプします。
            %li 選択された TextField を画面にドラッグします。
            %img{ image_url_alt('bc_place_textfield.png') }
            %li iOS 機器も最近は画面の大きさがまちまちなので、Auto Layout で位置を設定するようになりました。この TextField は以下の画面のように左と上からの位置とサイズに制約を付けることにします。4箇所にチェックを入れたら、Add 4 constraint をクリックします。
            %img{ image_url_alt('bc_pin_textfield.png') }
            %li また、以下の Text Field に以下の修正をします。Text Field を選択した状態で、右の Attribute Inspector を開いてください。
            %ol
              %li 上から 2 番目のフィールドに 0 と入力します。フィールドに 0 が入力されます。これは Text Field をダブルクリックして編集しても Ok です。
              %li Alignment で右寄せにします。
              %li Keyboard Type で Number Pad にします
            %li ここまでで実行してみましょう。Text Field をクリックすることでキーボードが出力されれば Ok です。
          %li その他の部品の配置
          %ol
            %li 同様にして以下のように部品を配置してください。真ん中の青い色のものは Button です。スクリーンショットの都合上小さくまとめていますが、みなさんは使いやすいレイアウトにしてください。
            %img{ image_url_alt('bc_three_field_one_button.png') }
      - when :connect_to_controller
        %ol
          %li Assistant Editor の表示
          %ul
            %li 次に View とコントローラを接続します。このために Assistant Editor モードにします。以下のような画面になればよいです。
            %img{ image_url_alt('bc_assistant_editor.png') }
          %li Outlet の接続
          %ol
            %li TextField を Controller からアクセスできるように Outlet として接続します。オブジェクトをクリックすると制約などの余計なものが選択される可能性があるので、左側の一覧からリンクするとよいです。手順を説明します。
            %li 一番最初の「0」をクリックしてから、Control キーを押しながら右の ViewController までドラッグします。
            %img{ image_url_alt('bc_control_drag.png') }
            %li 手を離すと以下のようなポップアップが表示されます。ここで、Name に aField とタイプします。基本それ以外は修正しません。
            %img{ image_url_alt('bc_aField_outlet.png') }
            %li これで自動的に以下の文が追加され、左側に二重丸が出てきます。二重丸にマウスを合わせると関連する TextField がハイライトされます(プログラムで行だけ消さないようにしてください。リンクは残ったままになります)。
            = include_oneliner '    @IBOutlet weak var aField: UITextField!'
            %li 同様に bField, ansField を追加してください。
            %li Calc ボタンからも同様に接続しますが、こちらは Action にします。
            %img{ image_url_alt('bc_calc.png') }
            %li この結果以下のようなメソッドが追加されます。
            = include_oneliner "    @IBAction func calc(sender: AnyObject) {\n    }"
      - when :calc
        %ol
          %li
            calc の中身に以下のように記述します
            = include_oneliner %Q[    addField.text = "\\( atof(aField.text!) + atof(bField.text!) )"]
          %li 実行してテキストを入力し、Calc ボタンを押すと加算結果が表示されることに気づきます。
          %li この実装だと Calc ボタンを押すまで、加算結果は更新されません。そこで、それぞれの TextField を改修します。
          %li 各 TextField を編集時に Calc が呼ばれるようにします。TextField の Connection Inspector で Editing Changed と ViewController の Calc を接続します。
          %li 結果、TextField を編集するだけで、値が変更されるアプリになります。もう Calc ボタンは必要ないので消してしまってよいでしょう。
