:ruby
  breadcrumbs = %w( Mac/index.haml Mac/Swift/index.haml )
  title_hash = {
    description: '説明', before_oop: '手続き型言語の憂鬱', why_oop: '何故オブジェクト指向言語?', playground: 'Playground', final: '最終形態'
  }
= nav_tabs title_hash
#myTabContent.tab-content
  - title_hash.keys.each do |k|
    %div{ tab_pane_class(title_hash, k) }
      %h2.h4= title_hash[k]
      - case k
      - when :description
        %p
          このテキストは都立産業技術高専のソフトウェア設計IIの授業のために書き下ろしたものです。
          これまで手続き型の C 言語でプログラムを作ってきた人にオブジェクト指向言語とはどんなものなのかをわかってもらうための資料です。
        %p
          ここでは、Xcode の Playground を使って、第 3 学年で学んだ複素数構造体を Swift で書き直してみます。
      - when :before_oop
        %p
          手続き型言語の場合、プログラマは担当するプログラムのすべてを理解する神様になる必要があります。
          ここで、図形を管理するプログラムを例に説明します。
          このプログラムでは、以下の 3 つの図形を考えます。
          %ul
            %li 円(中心座標 x, y、半径 r)
            %li 長方形(左上座標 x, y、幅 width, 高さ height)
            %li 三角形(三点の座標 x1, y1, x2, y2, x3, y3)
        %p
          ここで、これら 3 つの図形の位置を(+dx, +dy)だけずらす処理を実装したいとします。
          神様であるプログラマはすべてを理解しているので、さっさとテストを書いて次のような関数達を作るはずです。
          %ul
            %li void moveCircle(circle *cp, double dx, double dy);
            %li void moveRectangle(rectangle *rp, double dx, double dy);
            %li void moveTriangle(triangle *tp, double dx, double dy);
        %p
          面倒になった神様は、それぞれの図形を配列で管理したくなりました。
          実装は以下のような感じになるはずです。
          ここで、moveAll の関数に注目します。
          図形はすべて objects にポインタとして入っているので、一緒に渡された types 配列の値に従って、分類分けされてそれぞれの関数が呼び出されていることがわかると思います。
          = include_source 'move_array.c', :c
      - when :why_oop
        %p
          先ほどの例を Ruby というオブジェクト指向言語で書き換えてみました。
          = include_source 'move_array.rb', :ruby
        %p
          何が違うのでしょうか。確認してみましょう
        %dl
          %dt 多態性(ポリフォーリズム)
          %dd
            オブジェクト指向言語ではクラスという単位でプログラムを書きます。
            オブジェクトはこのクラスから生成され、すべての動作はクラスに書かれた設計図に縛られます。
            クラスには属性を保存するインスタンスと、オブジェクトの動作を記述するメソッドが含まれます。
            上記のプログラムでは、Point, Circle, Rectangle, Triangle の 4 つのクラスがあり、すべてのクラスで同じ引数を受け取る move というメソッドが用意されています。
            この結果、ユーザはオブジェクトの種類を知らなくても move とすればよいことになります。
            これを多態性といいます。
          %dt カプセル化
          %dd
            Point クラスには @x, @y というインスタンスがあり、点の座標を保持しています。
            オブジェクト指向言語ではこれらのインスタンスは通常 private で管理し、外部からは隠蔽します。
            これらの値を外からアクセスしたい場合には、setter や getter と呼ばれる機能を用意します。
            Point クラスでは attr_reader という仕組みで getter のみを用意しています。
            このため、値を読むことはできますが、外から値を直接変更することはできません。
            値を変えるには、move メソッドを利用する必要があるということです。
            内部構造を隠すことで、自分の都合で中身を大きく作り替えることもできます。
            例えば、Point クラスの内部表現を極座標に変更してしまったとしても、Circle, Rectangle, Triangle のプログラムは何も変える必要はありません。
          %dt 自分ができることだけをやる
          %dd
            オブジェクト指向言語では、クラス内でできることだけをメソッドとして書きます。
            自分の力だけでは仕事ができないときには、できる人に頼みます。
            例えば Circle クラスの move は、自分自身で座標計算ができないので、自分が抱えている Point クラスのインスタンスである @p に座標計算をお願いしています。
            = include_oneliner '@p.move(dx, dy)'
            これはこのように読みましょう。
            %blockquote
              なんか上の人から dx, dy だけ動けって言われたんだよね。
              でも、自分がどこにいるかなんて把握してないよ。
              @p さん知ってるんでしょ。お願いだから @p さん dx, dy だけ動いてくれないかな
        %p
          この授業でもこんな感じでロールプレイしていきます。
      - when :playground
        %p 早速 Swift を使ってみましょう。以下、手順を箇条書きで書いていきます。
        %ul
          %li Playgound を開くまで
          %ul
            %li Xcode を開きます。
            %li Welcome to Xcode の画面で「Get started with a playground」をクリックします。
            %li 名前は MyPlayground のままでよいです。Platform もiOS のままで、Next を押します。
            %li 保存する場所を聞かれるので、適当な場所に保存します。
            %li 以下のような画面が開きます。
            %img{ image_url_alt('Playground.png') }
            %li 下の青い▶印が実行ボタンです。一回実行ボタンを押すと、後はソースを書き換えるとリアルタイムにコンパイル・実行をします。
            %li コンパイル時にエラーが出たときには、下に表示がされます。この欄を表示するには、実行ボタンの左のボタンを押すか、左上の SegmentedBox の真ん中を押してください。
            %li すでにこのプログラムは実行されていて、変数の中に入っているデータが左側の灰色部分に表示されていることがわかります。
          %li MyComplex クラスを作る
          %ul
            %li 早速 MyComplex クラスを作ってみます。以下のコードを書きましょう。MyComplex() というのは MyComplex を作るコンストラクタと呼ばれるクラスに対するメソッド呼び出しです。実行は成功し、右側に MyComplex と表示されたでしょうか。
            = include_oneliner "public class MyComplex {\n}\n\nvar a = MyComplex()", :swift

            %li C でやった makecomp に相当する処理を書きましょう。1.0+2.0j を作りたいので、下の文を次のように書き換えます。Swift のコンストラクタでは、引数の前に前置詞を書きます。MyComplex はこの形の引数を知らないので、エラーになっています。
            = include_oneliner 'var a = MyComplex(real: 1.0, image: 2.0)', :swift
            %li real と image を受け取るコンストラクタを用意します。表示は何も変わっていないように見えますが、右の目のマークや「＋」のマークをクリックすると現在の値を見ることができます。
            = include_oneliner "public class MyComplex {\n  private var _real: Double\n  private var _image: Double\n\n  public init(real: Double, image: Double) {\n    _real = real\n    _image = image\n  }\n}", :swift
          %li 加算の実装
          %ul
            %li 加算のプログラムを書いてみましょう。まず呼び出しを書いてみます。
            = include_oneliner "var a = MyComplex(real: 1.0, image: 2.0)\nvar b = MyComplex(real: 3.0, image: 5.0)\nvar c = a.add(b)", :swift
            %li 上記のプログラムの意味はこうです。「a さん、あなたの保持している複素数の情報と、b さんから得られた複素数の情報を加算して、新しい複素数オブジェクトを作って返してね」
            %li エラーになっているので、メソッド add を作ってみます。
            = include_oneliner "  public func add(other: MyComplex) -> MyComplex {\n    return MyComplex(real: _real + other._real, image: _image + other._image)\n   }\n", :swift
            %li このプログラムの意味(a さんの立場で見る)はこうです。「何か上から other とうまくやって加算した複素数の結果を返せと言われた。自分の _real と _image はわかるけど、other のはわからないや。other に _real と _image を聞けば、MyComplex で作れるか。それじゃまずother さん、_real と _image を教えてくれよ」
            %li b さん(a さんから見ると other さん)は、a さんが同じクラスであるので、心を許して値を教えてあげました(同一クラスであれば他人でもインスタンスにアクセスできます)。
        %p こんな感じで自分の立場になってプログラムを作っていくのがオブジェクト指向言語のプログラムの作り方になります。
      - when :final
        特に解説はしませんが、MyComplex の最終形態です。
        = include_source 'Contents.swift', :swift
