:ruby
  breadcrumbs = %w( Mac/index.haml Mac/System/index.haml )
  title_hash = {
    macOS: '事前準備 + OS のインストール', packages: 'App Store 以外のアプリ', homebrew: 'homebrew', matome: 'まとめ'
  }
= nav_tabs title_hash
#myTabContent.tab-content
  - title_hash.keys.each do |k|
    %div{ tab_pane_class(title_hash, k) }
      %h2.h4= title_hash[k]
      - case k
      - when :macOS
        %p
          ここに macOS Sierra のアップデートの覚え書きを示す。
          すでに Mathworks から日本語 locale のトラブル、PFU から ScanSnap の PDF が壊れるトラブルが報告されているので、それについては対策を練る人がある。
          %ul
            %li Matlab について: 日本語の locale の問題があるとのことだが、とりあえず起動することは確認。El Capitan ではメニューなどに日本語が書かれていたが、これらがすべて英語表記になる。とりあえずシミュレーションなどには支障がないので、普通に使う。
            %li ScanSnap の PDF 問題: これまでに ScanSnap で作成した PDF すらもプレビューで編集すると破壊されるとのこと。編集する気がなくともプレビューで適当な部分をクリックすると、文字列を記入しようとして編集状態に入ってしまうのでとても危険。とりあえず Preview デフォルトアプリを Skim にすることにした。ただし、これで解決できるのかどうかは不明。Time machine でバックアップは取っているものの、重要なものについては、ロックをかけておく必要があるかもしれない。
        %p
          また、これまでのアップデートでいろいろとトラブっているので、homebrew 系はすべて削除することにする
        %dl
          %dt brew cask のアンインストール
          %dd これまで brew cask を使っていたが、ソフトウェアの更新処理があまり好き出ないので、いい機会なのでやめることにする。
          = include_oneliner 'brew cask uninstall --force パッケージ名'
          %dt brew のアンインストール
          %dd どうせライブラリ関係で再インストールになると思うので、こちらもすべてアンインストールする。依存関係で消せないものがあるので、何回かやると真っ新になる(以下のコマンドは fish の場合)。
          = include_oneliner 'brew uninstall (brew list)'
          %dt macOS Sierra のインストール
          %dd
            Mac App Store からダウンロードしてインストール。30分ほどで終了。
            Symantec Endpoint Protection が対応したバージョンでないとのことで、「互換性のないソフトウェア」というフォルダに移動されていた。
            iCloud drive に Desktop と書類フォルダの内容がどんどんアップロードされていく
      - when :packages
        %p homebrew-cask はソフトウェアの更新処理が手間であること、カスタマイズインストールができないことなどの理由から、今回から普通にパッケージでインストールしていくことにした。以下にインストールしたソフトウェアと個別に設定した内容を示す。
        %dl
          %dt Symactec Endpoint Protection (12.1.6)
          %dd
            ウイルス対策ソフト。
            Sierra に対応しているのは 12.1.6。
            古いもののゴミが残っているようでアンインストーラで綺麗にしてからでないと新しいものはインストールできないので注意。
          %dt MacTeX (2016)
          %dd
            Mac 用の TeX live パッケージ。
            頒布サイト:
            - u, n = link_outer_url_name 'MacTeX', @objs['outer_link_button_class']
            %a{ u }= n
            %ul
              %li インストールする時にはカスタマイズを選び、Ghostscript-9.19 は外す(homebrew でカスタマイズしたものをインストールしたいため)。
              %li Tex Live Utility で「すべてのパッケージを更新」としてパッケージを最新版に更新
              %li 日本語の設定などは homebrew の ansible で実行するのでここではインストールするだけ。
          %dt Alfred (3.1.1)
          %dd
            キーボードでアプリケーション等を立ち上げられる Launcher。
            最近は、Spotlight を Launcher として利用することができるのだが、こちらの方が機能が多いので利用している。
            PowerPack も導入。
            頒布サイト:
            - u, n = link_outer_url_name 'Alfred3', @objs['outer_link_button_class']
            %a{ u }= n
          %dt AquaTerm (1.1.1)
          %dd
            Graphics renderer の一つ。
            gnuplot の出力先として利用できる。
            頒布サイト:
            - u, n = link_outer_url_name 'AquaTerm', @objs['outer_link_button_class']
            %a{ u }= n
          %dt cd to... (2.6)
          %dd
            Finder で開いているフォルダをターミナル上で cd した上で開くアプリ。
            頒布サイト:
            - u, n = link_outer_url_name 'cd_to', @objs['outer_link_button_class']
            %a{ u }= n
          %dt Dropbox (2.6)
          %dd
            複数の機器間でファイルを共有するシステム。
            頒布サイト:
            - u, n = link_outer_url_name 'Dropbox', @objs['outer_link_button_class']
            %a{ u }= n
          %dt Findings (1.4.1)
          %dd
            研究の記録をするためのソフトウェア。iPhone 版を購入しており、その漠報告をしたら有料ライセンスをいただいた。
            頒布サイト:
            - u, n = link_outer_url_name 'Findings', @objs['outer_link_button_class']
            %a{ u }= n
          %dt Firefox (49.0)
          %dd
            ブラウザ。普段は ssh tunnel 専用として利用。
            頒布サイト:
            - u, n = link_outer_url_name 'Firefox', @objs['outer_link_button_class']
            %a{ u }= n
          %dt Google Chrome (53.0.2785.116 (64-bit))
          %dd
            ブラウザ。あまり利用はしていないが、たまにページ翻訳などで使う。
            頒布サイト:
            - u, n = link_outer_url_name 'Chrome', @objs['outer_link_button_class']
            %a{ u }= n
          %dt GrandPersPective (1.8.1)
          %dd
            フォルダ内のファイル容量を可視化するツール。
            頒布サイト:
            - u, n = link_outer_url_name 'GrandPerspective', @objs['outer_link_button_class']
            %a{ u }= n
          %dt LetterFix (2.5.0)
          %dd
            Mail.app の文字化け送信を修正するプラグイン
            頒布サイト:
            - u, n = link_outer_url_name 'LetterFix', @objs['outer_link_button_class']
            %a{ u }= n
          %dt LibreOffice (5.2.1)
          %dd
            OpenSource の Office
            頒布サイト:
            - u, n = link_outer_url_name 'LibreOffice', @objs['outer_link_button_class']
            %a{ u }= n
          %dt MacZip4Win (0.4.1)
          %dd
            Windows で文字化けさせない zip アーカイバ
            頒布サイト:
            - u, n = link_outer_url_name 'MacZip4Win', @objs['outer_link_button_class']
            %a{ u }= n
          %dt MySQL Workbench (6.3.7)
          %dd
            SQL editor。MySQL とあるが ER 設計ツールとして使用する。
            頒布サイト:
            - u, n = link_outer_url_name 'MySQL_workbench', @objs['outer_link_button_class']
            %a{ u }= n
          %dt OmniFocus (2.7)
          %dd
            GTD のためのツール。
            頒布サイト:
            - u, n = link_outer_url_name 'OmniFocus', @objs['outer_link_button_class']
            %a{ u }= n
          %dt OmniGraffle (6.6.1)
          %dd
            Draw ツール。
            頒布サイト:
            - u, n = link_outer_url_name 'OmniGraffle', @objs['outer_link_button_class']
            %a{ u }= n
          %dt OmniPlan (3.5.1)
          %dd
            Project 管理ツール。
            頒布サイト:
            - u, n = link_outer_url_name 'OmniPlan', @objs['outer_link_button_class']
            %a{ u }= n
          %dt FUSE for macOS (3.5.0)
          %dd
            NTFS などの他のファイルシステムをアクセスできる機能拡張。
            頒布サイト:
            - u, n = link_outer_url_name 'osxfuse', @objs['outer_link_button_class']
            %a{ u }= n
          %dt Pandoc (1.17.2)
          %dd
            ドキュメントコンバーター。Markdown から Word を作成したりできる。
            頒布サイト:
            - u, n = link_outer_url_name 'Pandoc', @objs['outer_link_button_class']
            %a{ u }= n
          %dt Papers (3.4.7.527)
          %dd
            ドキュメントコンバーター。Markdown から Word を作成したりできる。
            頒布サイト:
            - u, n = link_outer_url_name 'Papers', @objs['outer_link_button_class']
            %a{ u }= n
          %dt Qlstephen (1.43)
          %dd
            テキストファイルを QuickLook するためのプラグイン。
            頒布サイト:
            - u, n = link_outer_url_name 'Qlstephen', @objs['outer_link_button_class']
            %a{ u }= n
            %ul
              %li ~/Library/QuickLook フォルダがなければ作る
              = include_oneliner 'mkdir -p ~/Library/QuickLook'
              %li ~/Library/QuickLook フォルダを開く
              = include_oneliner 'open ~/Library/QuickLook'
              %li 展開した QLStephen.qlgenerator を ~/Library/QuickLook に移動
          %dt Skim (1.4.21)
          %dd
            PDF viewer。pdf の更新を自動認識するので、latexmk とペアで利用する。
            頒布サイト:
            - u, n = link_outer_url_name 'Skim', @objs['outer_link_button_class']
            %a{ u }= n
          %dt SourceTree (2.3.1)
          %dd
            Free な Git クライアント。
            頒布サイト:
            - u, n = link_outer_url_name 'SourceTree', @objs['outer_link_button_class']
            %a{ u }= n
          %dt sshfs (2.5)
          %dd
            ssh ベースの File System
            頒布サイト:
            - u, n = link_outer_url_name 'sshfs', @objs['outer_link_button_class']
            %a{ u }= n
          %dt vlc (2.2.4)
          %dd
            フリーなマルチプラットフォーム対応マルチメディアプレイヤー
            頒布サイト:
            - u, n = link_outer_url_name 'vlc', @objs['outer_link_button_class']
            %a{ u }= n
          %dt VMware fusion (8.5)
          %dd
            仮想化ソフトウェア。
            頒布サイト:
            - u, n = link_outer_url_name 'VMware', @objs['outer_link_button_class']
            %a{ u }= n
          %dt Wireshark (2.2.0)
          %dd
            ネットワークを流れるデータを捕縛して内容を解析するプロトコルアナライザ。
            頒布サイト:
            - u, n = link_outer_url_name 'wireshark', @objs['outer_link_button_class']
            %a{ u }= n
          %dt Xmind (7.5 Update 1)
          %dd
            フリーなマインドマップツール。
            頒布サイト:
            - u, n = link_outer_url_name 'xmind', @objs['outer_link_button_class']
            %a{ u }= n
          %dt Xquartz (2.7.9)
          %dd
            macOS のための X.Org X Window System。
            頒布サイト:
            - u, n = link_outer_url_name 'Xquartz', @objs['outer_link_button_class']
            %a{ u }= n
      - when :homebrew
        %p
          homebrew については、従来通り
          - u, n = link_url_name '2016/05/08/ansible.haml', @objs['inline_button_class']
          %a{ u }= n
          の ansible を用いて行う。ここでインストールしたパッケージは以下の通り。
          %ul
            - %w( libyml openssl ansible readline jxrlib libtiff libpng fish fizsh rbenv ruby-build gnuplot ghostscript imagemagick graphviz gettext gibo nkf convmv wget jenkins postgresql tmux tmux-mem-cpu-load git-flow node macvim gtk+ ).each do |w|
              %li= w
        %p
          MacTeX の日本語設定、rbenv による Ruby のインストールも行われる。
      - when :matome
        %p
          総じて特に大きな問題はないアップデートだった。
          Apple Watch による自動認証はパスワードを打つより少し時間がかかるものの慣れると心地よい。
          ただし、ScanSnap の PDF 問題は非常に大きいので、これだけでも静観する必要はあるアップデートだとは思う。

