:ruby
  breadcrumbs = %w( Mac/index.haml Mac/System/index.haml )
  title_hash = {
    description: '説明', prepare: '事前準備', download: 'ダウンロードと初期設定', edit_playbook: 'Playbook の修正', run_playbook: 'ansible 実行', maintenance: 'メンテナンス'
  }
= nav_tabs title_hash
#myTabContent.tab-content
  - title_hash.keys.each do |k|
    %div{ tab_pane_class(title_hash, k) }
      %h2.h4= title_hash[k]
      - case k
      - when :description
        %p
          Unix 系のツールは現在、homebrew で管理しています。また、GUI 系のアプリも homebrew の cask で管理をしています。複数台の Mac を同じ環境に整備するのは面倒なので、ansible を使った構成管理をしています。ここでは、新しく Mac を購入したときの設定の覚え書きを記しておきます。
      - when :prepare
        %ul
          %li homebrew を使うためには、事前に Xcode を入れておく必要があります。Mac App Store にて、Xcode をインストールしておきます。
          %li Xcode を起動してライセンスに同意しておきます。
          %li Mac App Store でしか手に入らないアプリはこちらで管理します。私の環境で入っているものを紹介しておきます。
        %table{ @objs['default_table_class'] }
          %thead
            %tr
              - %w( アプリ名 説明 ).each do |w|
                %th= w
          :ruby
            apps = [
              'Xcode', 'プログラム開発ツール',
              '1Password', 'パスワード管理',
              'Affinity Designer', 'postscript, pdf ファイルを編集',
              'Apple Remote Desktop', 'Mac, Linux のリモート管理',
              'Be Focused Pro', 'iOS, WatchOS にも同期するポモドーロタイマー',
              'Cot Editor', 'テキストエディタ',
              'Day One', 'iOS にも同期するメモ',
              'Evernote', '同期するメモツール',
              'Growl', '通知システム',
              'HardwareGrowler', 'ハードウェア状態通知',
              'Kindle', 'Amazon の電子ブックリーダ',
              'Prickies! X', 'Casio Nameland への印刷',
              'Slack', '組織内チャット',
              'ToyViewer', '画像表示',
            ]
          %tbody
            - apps.each_slice(2) do |app|
              - name, description = app
              %tr
                %th= name
                %td= description
      - when :download
        %ul
          %li
            bitbucket で公開している
            - u, n = link_outer_url_name 'ansible_homebrew', @objs['outer_link_button_class']
            %a{ u }= n
            のページからリポジトリをダウンロードするか、クローンします。
          %li 中に入っている setup.sh を実行します。ネットワーク接続が必要なので、必要であれば事前にプロキシの設定などをしてください。
          %li 中で brew doctor をしていますが、問題がある場合には再度実行し、問題を解決して置いてください。
          = include_oneliner './setup.sh'
        %hr
        %h5 参考資料(setup.sh の中身)
        = include_source 'setup.sh', :bash
      - when :edit_playbook
        %ul
          %li リポジトリ内にはいくつかの playbook が入っています。
          %ul
            %li site.yml: 自分用の playbook。有料ライセンスのソフトウェアなども含まれる
            %li hkob-labo.yml: 研究室の学生用の playbook。画像処理や Ruby 関係のソフトウェアが中心
            %li ee.yml: 電気電子学生用の playbook。基本的に電気電子の授業で必要なソフトウェアが中心
          %li いずれかの playbook をコピーし、自分に必要なものを追加します。
          %li ソフトウェア名は以下のようにして確認します。
          %ul
            %li homebrew: brew search キーワード
            %li cask: brew cask search キーワード
        %hr
        %h5 参考資料(site.yml の中身)
        = include_source 'site.yml', :yaml
      - when :run_playbook
        %ul
          %li MacTeX がインストールされていない場合は、最初に次のコマンドで cask のみをインストールします。
          = include_oneliner 'ansible-playbook -i hosts site.yml -t cask'
          %li 一度ターミナルを閉じて開きます(この時 MacTeX の path が設定されます)。
          %li 残りの playbook を実行します
          = include_oneliner 'ansible-playbook -i hosts site.yml'
          %li ansible は冪等性があるので、yml を修正したら何度でも上記コマンドを実行して構いません。ただし、明らかに変更していないものを実行しても無駄なので、-t オプションで必要な tag のみを指定してください。
      - when :maintenance
        %ul
          %li 新しいソフトウェアを追加する場合
          %ul
            %li yml を追加します
            %li ansible を実行します。
          %li homebrew ソフトウェアを更新する場合
          %ul
            %li 以下のコマンドで homebrew を更新します。
            = include_oneliner 'brew update'
            %li ansible を実行するか、次のコマンドで upgrade します。後者の方が依存関係でインストールされたものもアップデートされるのでお勧めです。
            = include_oneliner 'brew upgrade'
            %li 古いバージョンのパッケージはそのまま残るので、以下のコマンドで古いものは削除するとよいと思います。
            = include_oneliner 'brew cleanup'
          %li homebrew ソフトウェアを削除する場合
          %ul
            %li ansible の playbook から該当のソフトウェアを削除しておきます
            %li playbook に削除の機能は入れていないので、以下のコマンドでソフトウェアを削除します。
            = include_oneliner 'brew uninstall ソフトウェア名'
          %li cask ソフトウェアを更新する場合
          %ul
            %li
              以下のコマンドでアップデートします。
              - u, n = link_outer_url_name 'brew_cask_upgrade', @objs['outer_link_button_class']
              %a{ u }= n
            = include_oneliner 'for c in `brew cask list`; do ! brew cask info $c | grep -qF "Not installed" || brew cask install $c; done'
            %li
              古いバージョンの cask が残ってしまうので、以下のコマンドで古いものを削除します
            = include_oneliner 'for c in /opt/homebrew-cask/Caskroom/*; do vl=(`ls -t $c`) && for v in "${vl[@]:1}"; do rm -rf "$c/$v"; done; done'
          %li cask ソフトウェアを削除する場合
          %ul
            %li ansible の playbook から該当のソフトウェアを削除しておきます
            %li cask は最新版のものしか削除できないので、上記コマンドで最新版に更新し、古いパッケージは消しておきます。
            %li 以下のコマンドで cask を削除します。
            = include_oneliner 'brew cask uninstall ソフトウェア名'
