:ruby
  title_hash = {
    description: '説明', security: 'セキュリティ設定', ruby: 'Ruby のインストール', postgresql: 'PostgreSQL のインストール', RailsApp: 'Rails アプリのインストール', RailsAppDeploy: 'Rails アプリのデプロイ', conclusion: 'まとめ'
  }
= nav_tabs title_hash
#myTabContent.tab-content
  - title_hash.keys.each do |k|
    %div{ tab_pane_class(title_hash, k) }
      %h2.h4= title_hash[k]
      - case k
      - when :description
        %p
          とある Rails サーバを立てるべく、
          - u, n = link_outer_url_name 'vpsSakura'
          %a{ u }= n
          を借りてみた。記録のためにメモ書きしておく。
        %p
          今回は、1G プラン(仮装2Core, 1GBメモリ、30GB SSD)で契約した。
          デフォルトでは Cent OS 6 だが、使い慣れているので Ubuntu に変更している。
      - when :security
        %ul
          %li
            カスタム OS で Ubuntu を選択すると、VNC コンソールが開き、通常の Ubuntu インストールが始まる。
            ただし、色々カスタマイズしているようで、DNS などの設定は自動で設定されるようだ。
          %li
            基本ユーザを設定したら、急いで firewall の設定を実行する。 Ubuntu なので簡単に ufw で設定した。
            = include_source 'ufw.sh', :bash
          %li
            ssh もアタックされまくるので、root ログイン不可、パスワードログイン不可、ログインユーザの固定化をするように /etc/ssh/sshd_config を記述した。
            = include_source 'sshd_config', :bash
          %li
            記述の確認をする。
            = include_oneliner 'sudo sshd -t'
          %li
            ssh サービスを再起動する。
            = include_oneliner 'sudo service ssh restart'
      - when :ruby
        %ul
          %li
            Ruby は今後のアップデートのことも考えて、rbenv でインストールする。そこで、取得や build のために必要なものをまずインストールする。
            = include_oneliner 'sudo apt-get install build-essential git libssl-dev libreadline-dev zlib1g-dev fish', :bash
          %li
            まず rbenv をリポジトリから取得する。
            = include_oneliner 'git clone https://github.com/sstephenson/rbenv.git ~/.rbenv', :bash
          %li
            ruby-build も同様に取得する。
            = include_oneliner 'git clone https://github.com/sstephenson/ruby-build.git ~/.rbenv/plugins/ruby-build', :bash
          %li
            最新版である 2.4.1 をインストールする。
            =include_oneliner 'rbenv install 2.4.1', :bash
          %li
            利用するフォルダではそれぞれ local に ruby を設定する。今回は、すでに設定しているので実施はしてない。
            =include_oneliner 'rbenv local 2.4.1', :bash
      - when :postgresql
        %p
          今回の設定では、PostgreSQL を通常のままインストールしてしまい、データベースの初期化が LATEN1 で設定されてしまった。
          ここでは本来の手順で記載するが、今回のリカバリのことについても説明しておく。
        %ul
          %li
            PostgreSQL のインストールの前に Ubuntu のデフォルトローケールを設定する。
            = include_oneliner "sudo apt-get install language-pack-ja\nsudo update-locale LANG=ja_JP.UTF-8", :bash
          %li
            PostgreSQL をインストールする
            = include_oneliner 'sudo apt-get install postgresql libpq-dev'
        %p
          上述の通り、en_US のまま PostgreSQL をインストールしてしまったところ、データベースのデフォルトが LATEN1 になってしまい、UNICODE のデータベースが作成できなくなってしまった。
          一度、apt-get remove して再 install みるが、/var/lib/postgres は削除されないようだ。Ubuntu では特有の PostgreSQL コマンドがあるようで、以下のようにして対応した。
        %ul
          %li
            PostgreSQL クラスタに属するファイルを全て削除する。サーバも強制的にシャットダウンする。
            = include_oneliner 'sudo pg_dropcluster --stop 9.5 main'
          %li
            日本語のローケールを設定したのちに、クラスタを作成する
            = include_oneliner 'sudo pg_createcluster 9.5 main'
      - when :RailsApp
        %p
          Rails アプリのために必要なものを用意する。
        %ul
          %li
            apt-get で入る node.js は古いので、node.js の本家から直接インストールする。
            = include_oneliner 'curl -sL https://deb.nodesource.com/setup_8.x | sudo -E bash -'
          %li
            Rails 5.1 では yarn が使われますが、これもデフォルトでは取得できないので、apt の source に追加してインストールする。
            = include_oneliner %Q(curl -sS https://dl.yarnpkg.com/debian/pubkey.gpg | sudo apt-key add -\necho "deb https://dl.yarnpkg.com/debian/ stable main" | sudo tee /etc/apt/sources.list.d/yarn.list\nsudo apt-get install nodejs)
          %li
            Rails アプリのリポジトリを取得し、開発環境で動作することを確認する。
            = include_oneliner %Q(bin/yarn\nbin/webpack\nbin/rails db:reset\nbin/rails s)
      - when :RailsAppDeploy
        %p
          本来、デプロイは Capistrano を使うのだが、今回は新しく Nginx + puma という新しい組み合わせに挑戦するため、手動で実施してみた。
          この場合、puma が Rails のサーバになり、Nginx がリバースプロキシになるようだ。
          時間ができたら Capistrano での自動化についても記事にしたいと思う。
        %ul
          %li
            Nginx をインストールする。
            = include_oneliner "sudo apt-get install nginx"
          %li
            config/puma.rb に以下の行を追加し、sock ファイルと pid ファイルの場所をわかりやすい場所に設定する。
            = include_source 'append_puma.rb', :ruby
          %li
            puma を起動する。production モードなので、DB のパスワード、SECRET_KEY_BASE などの設定を環境変数に入れておくことを忘れないこと。
          %li
            Nginx の設定ファイルを追加する。/etc/nginx/conf.d/アプリ名.conf くらいで作る。
            = include_source 'rails_app.conf', :text
          %li
            サーバを再起動する
            = include_oneliner 'sudo service nginx restart'
          %li
            外部からアクセスできることを確認する。
            Nginx だけが動いており、Rails サーバが落ちていると Bad Gateway が表示されるので、puma 側を確認すること。
      - when :conclusion
        %p
          今回、サーバを借りてから、RailsApp を上げるまでにかかったのは数時間だった。
          PostgreSQL のローケールにはまっていなければ、もう少し早かったかと思う。
          これまで色々なサーバを立ち上げていたから慣れていたとはいえ、puma, nginx の組み合わせはかなり楽だなと感じた。
          実際、このサーバに後から Redmine をテストで立ち上げてみましたが、20分程度で終わってしまった。
          Redmine については、SSL の準備ができてから再度記事にしてみたいと思う。

