:ruby
  breadcrumbs = %w( Mac/index.haml Mac/Swift/index.haml )
  title_hash = {
    description: '説明', homebrew: 'homebrew でのインストール', quick: 'Quick のインストール', realm: 'Realm のインストール', conclusion: 'まとめ'
  }
= nav_tabs title_hash
#myTabContent.tab-content
  - title_hash.keys.each do |k|
    %div{ tab_pane_class(title_hash, k) }
      %h2.h4= title_hash[k]
      - case k
      - when :description
        %p
          Xcode のパッケージ管理だと Cocoapods が有名だが、いざゼミナールで展開しようとしてハマりました。以下その履歴です。
        %ul
          %li rbenv で自分用の Ruby をホームにインストール
          %li gem で cocoapods をインストール
          %li pod setup で .cocoapods を作成(非常に時間がかかる)
          %li 私の環境で Disk quota exceed がでました。
          %li 学生の環境では成功したが、quota の半分以上を食いつぶしていました
        %p
          この状況では今後の授業展開に問題が発生することが明かなので、すべての作業を中止しました。
          Cocoapods の代替策を探していたところ、同じようなことを考えている人もいるようで、Carthage という別のパッケージ管理ツールを見つけました。
          これはその覚え書きです。
        %p.text-right
          (平成28年6月26日記述)
      - when :homebrew
        %p
          Carthage は homebrew でインストールできます。
        = include_oneliner 'brew install carthage'
        %p
          私の場合は ansible で管理しているのでこちらで管理します。→
          - u, n = link_url_name '2016/05/08/ansible.haml', @objs['inline_button_class']
          %a{ u }=n
      - when :quick
        %p
          テストは Rspec に記述が近い Quick を使っているので、そちらを使います。
          すでに先人がいるので、参考にします。→
          - u, n = link_outer_url_name 'carthage_quick', @objs['outer_inline_button_class']
          %a{ u }= n
        %ul
          %li Cartfile.private を記述します。Quick、Nimble はテストフレームワークであり、テストの時しか使わないので、.private の方に書くのだそうです。
          = include_oneliner %Q(github "Quick/Quick"\ngithub "Quick/Nimble")
          %li 以下のコマンドでライブラリをビルドします(iOS の場合には osx の代わりに iOS とします)
          = include_oneliner "carthage update --platform osx"
          %li 結果はこんな感じになります。Framework のビルドが実行されていることがわかります。Framework は Carthage/Build/Mac の下に作成されています。
          :ruby
            strs = [
              '*** Cloning Nimble',
              '*** Cloning Quick',
              '*** Checking out Nimble at "v4.1.0"',
              '*** Checking out Quick at "v0.9.2"',
              '*** xcodebuild output can be found in /var/folders/d4/9qlx54jd0xgbqqj0fz_dvxz40000gp/T/carthage-xcodebuild.6KkoRt.log',
              '*** Building scheme "Nimble-OSX" in Nimble.xcodeproj',
              '*** Building scheme "Quick-OSX" in Quick.xcworkspace' ]
          = include_oneliner strs.join("\n")
          %li Project Navigator でプロジェクト名をクリックします。
          %li TARGETS のテストフレームワークをクリックします。
          %li Build Phases をクリックします。
          %li Link Binary With の「+」をクリックします。
          %li Add Other をクリックします。
          %li Carthage/Build/Mac を表示し、作成した Nimble.framework と Quick.framework を追加します。
          %li General の下あたりにある「+」をクリックします。
          %li 「New Copy File Phase」をクリックします。
          %li Destination を Framework に変更します。
          %li 「+」をクリックして、作成した Nimble.framework と Quick.framework を選択して Add します。
          %li Command+u をしてエラーが出なければ成功です。
          %li これまでのように Xcode のプロジェクトで Framework のコンパイルをしないので、パッケージが綺麗になるだけでなく、コンパイル時間の短縮にもなります。
      - when :realm
        %p
          CoreData も使いにくいので、データベースは Realm を使ってみたいと思います。
          こちらもすでに先人がいるので、参考にします。→
          - u, n = link_outer_url_name 'carthage_realm', @objs['outer_inline_button_class']
          %a{ u }= n
        %ul
          %li こちらは実装にも組み込むので、Cartfile に以下を記述します。
          = include_oneliner 'github "realm/realm-cocoa"'
          %li 後は Quik と同様に Framework を取り込みます。ただし、今回はテストフレームワークではなくアプリケーション本体のターゲットになります。
          %ul
            %li Project Navigator でプロジェクト名をクリックします。
            %li TARGETS のアプリケーションをクリックします。
            %li Build Phases をクリックします。
            %li Link Binary With の「+」をクリックします。
            %li Add Other をクリックします。
            %li Carthage/Build/Mac を表示し、作成した Realm.framework と RealmSwift.framework を追加します。
            %li General の下あたりにある「+」をクリックします。
            %li 「New Copy File Phase」をクリックします。
            %li Destination を Framework に変更します。
            %li 「+」をクリックして、作成した Realm.framework と RealmSwift.framework を選択して Add します。
            %li Command+u をしてエラーが出なければ成功です。
      - when :conclusion
        %p
          Carthage は Cocoapods と違って、事前にいろんなものを用意する必要がないので、ディスク容量の少ないシステムでは便利だと思います。また、Framework は事前コンパイルとなるため、MacBook のような非力なマシンにも優しいと思います。今後も積極的に使っていきたいと思うパッケージ管理システムでした。
