:ruby
  breadcrumbs = %w( Mac/index.haml Mac/System/index.haml )
  title_hash = {
    description: '説明', make_command: 'コマンドラインアプリ', logger: 'データロガー', graph: 'グラフの作成', html: 'html ファイルの作成', cron: 'cron設定'
  }
= nav_tabs title_hash
#myTabContent.tab-content
  - title_hash.keys.each do |k|
    %div{ tab_pane_class(title_hash, k) }
      %h2.h4= title_hash[k]
      - case k
      - when :description
        %p
          サーバ室には10数年前から RT-12N というネットワークサーモレコーダーを設置しています。
          本来はブラウザから現在の温度やグラフを表示することができるのですが、古い IE でないと表示されないという問題がありました。
          温度警報は動いているのでとりあえず使い続けますが、別途温度確認する仕組みが必要だと感じました。
        %p
          新しいサーモレコーダーを買ってもよいのですが、今は温度センサなども安く売っているので、これを使って温度ロガーを作成することにしました。
          今回は
          - u, n = link_outer_url_name 'pcsensor', @objs['outer_link_button_class']
          %a{ u }= n
          の Temper という USB センサを購入しました(Amazon で1,500円程度)。
          覚え書きとしてここにメモしておきます。
        %p.text-right
          (平成28年6月25日記述)
      - when :make_command
        %p
          USB 温度センサは Mac に繋ぐので調査をしたところ、
          - u, n = link_outer_url_name 'temper1x', @objs['outer_link_button_class']
          %a{ u }=n
          という GUI アプリのソースを見つけました。今回はロガーで使うのでこのソースを加工してコマンドラインアプリを作ります。
        %ul
          %li Xcode で新しい Command Line Tool プロジェクトを作ります。名前は temp とします。
          %li hid.c と hidapi.h はこのまま使うのでプロジェクトに取り込みます。
          %li 次に SSLTEMPer1Controller.m を temp.c として保存した後で、参考に示したように修正します。基本は Objective-C のメソッドをすべて C の関数にして、getTemp() を呼び出し、表示しているだけです。
          %li コマンドラインから sudo codebuild DSTROOT=/ install として /usr/local/bin にインストールします。
          %li temp とすると、以下のように温度が表示されました。
          =include_oneliner "$ temp\n20.625000"
        %h5 参考 (temp.c)
        = include_source 'temp.c', :c
      - when :logger
        %p
          ロガー部分の使用は以下のようにしました。
        %ul
          %li 作成したプログラムを1分ごとに呼び出してファイルにログとして残すことにします。
          %li あまり沢山取っ手おいてもしょうがないので、最長で1週間分取ることにします。
          %li 1分ごとで1週間分なので、60分×24時間×7日=10,080行を残し、古いものを削除します。
          %li 大量のデータを表示しても見にくいだけなので、1時間分の60個のデータ、1日分の24個のデータ(平均値を計算)、1週間分の7個のデータ(平均値を計算)をそれぞれ別のグラフに表示します。
          %li 元々は間引き表示をしていましたが、平均値を取るべきとの意見があったので、平均値を awk で計算するようにしました。
        %p
          ロガーのスクリプトを以下に示します。1列目に時間、2列目に日付、3列目に温度データが入ります。ログを取得後に3枚のグラフを作成する graph.sh (後述)を呼び出します。
          = include_source 'temper.sh', :bash
      - when :graph
        %p
          graph.sh では1時間ごと、1日ごと、1週間ごとの3枚のグラフを作成します(スクリプトは最下部に示します)。
          それぞれのグラフの特徴は以下の通りです。
        %dl
          %dt 1時間ごとのグラフ
          %dd
            過去の60分のデータ(60行)が記録された anhour ファイルをグラフ表示します。
            横軸を分にして数値でプロットしてしまうとローテートしてしまうので、横軸は文字列にしました。
            時刻を60個書くと重なってしまうので、90度回転・下方向に移動・フォントサイズの縮小をしています。
          %img{ image_url_alt('anhour.png') }
          %dt 1日ごとのグラフ
          %dd
            %del
              過去の1日分のデータ(1440行)が記録された aday ファイルをグラフ表示します。
              すべてのデータをプロットすると見にくくなるので、60行ごとにスキップして表示します。
            時間ごとの平均を取るべきだとの意見があり、1時間ごと24行のデータを単純に出力するようにしました。
            この結果、1時間ごとのデータがプロットされます。
          %img{ image_url_alt('aday.png') }
          %dt 1週間ごとのグラフ
          %dd
            %del
              過去の1週間分のデータ(10,080行)が記録された all ファイルをグラフ表示します。
              すべてのデータをプロットすると見にくくなるので、1440行ごとにスキップして表示します。
            1 日ごとの平均を取るべきだとの意見があり、1日ごと7行のデータを単純に出力するようにしました。
            この結果、1日ごとのデータがプロットされます。
          %img{ image_url_alt('aweek.png') }
        %h5 参考 (graph.sh)
        = include_source 'graph.sh', :c
      - when :html
        %p
          3 つの画像は Web ページ上に表示します。ロギングは 1 分ごとに行われるので、Web ページ自体も 1 分ごとにリダイレクションするようにします。
        = include_source 'index.html', :html
      - when :cron
        %p
          あとは temper.sh を cron で呼ぶだけです。意外と簡単に終わりました。
        = include_oneliner "* * * * * /Users/admin/temp/temper.sh > /dev/null"




