:ruby
  breadcrumbs = %w( Mac/index.haml Mac/Other/index.haml )
  title_hash = {
    description: '説明', project: 'プロジェクト', context: 'コンテキスト', inbox: 'Inbox 登録', calendar: 'カレンダー入力', Fantastical: 'Fantastical 2', perspective: 'パースペクティブ', conclusion: 'まとめ'
  }
= nav_tabs title_hash
#myTabContent.tab-content
  - title_hash.keys.each do |k|
    %div{ tab_pane_class(title_hash, k) }
      %h2.h4= title_hash[k]
      - case k
      - when :description
        %p
          タスク管理はなかなか上手くいかなくて、様々なツールを行ったり来たりしていました。
          基本的には、David Allen 氏の GTD (Getting Things Done) がよいとのことで、そのために設計された
          - u, n = link_outer_url_name 'OmniFocus', @objs['outer_link_button_class']
          %a{ u }= n
          をメインで使っています。
          最近は、プロジェクト系は OmniFocus、スケジュールタスクは VoDoo と振り分けていました。
          本来であれば全て OmniFocus で完結することが望ましいのですが、以下のような理由で VoDoo の方が使いやすかったためです。
          %ul
            %li iOS のカレンダー入力は面倒
            %li VoDoo は日付・時刻を文字タイプで設定可能
            %li メール等の日付からカレンダー登録することで、VoDoo 入力と等価
        %p
          VoDoo は To Do タスクを Google Calendar のイベントとしてデータを入力するソフトウェアです。
          そのため、入力後は基本的にカレンダーでタスクを見ていました。
          特に、OmniFocus の予測画面にはカレンダーイベントも並記されるので、VoDoo は入力とタスク終了の管理のみとなっていました。
        %p
          現状だと情報が OmniFocus、VoDoo 間で二分化してしまって使いにくかったです。
          そこで、今回 IFTTT を用いてすべてを OmniFocus 管理にするようにしました。
          せっかくなので、ここでは面倒くさがりな私がどうやって OmniFocus を使っているかを紹介したいと思います。
        %p
          GTD については、
          - u, n = link_outer_url_name 'GTDjapan', @objs['outer_link_button_class']
          %a{ u }= n
          が詳しいかと思います。基本的には以下の 5 つのステップを実施することになります。
          %ol
            %li Capture: 把握
            %li Clarify: 見極め
            %li Organize: 整理
            %li Reflect: 更新
            %li Engage: 選択
          以下の説明では、それぞの作業が GTD のどの部分に当たるのかについても説明したいと思います。
        %p
          P.S.
          この記事を書いている途中で、VoDoo が現在入手不可であることを知りました。
          入手不可になったということは、今後サポートも期待できないことになります。
          代替を探していたところ、Fantastical 2 というアプリケーションを見つけました。
          この記事ではこの Fantastical 2 も紹介します。
      - when :project
        .row
          .col-md-8.col-sm-6
            %p
              プロジェクトもこれまで二転三転しました。
              最近までは「総合調整会議」のように実際のイベントプロジェクトを作成し、その中に「総合調整会議資料作成」「総合調整会議」のようにアクションを登録していました。
              プロジェクト名がわかっているので、OmniFocus の中だけであれば「資料作成」「会議参加」だけでよいはずです。
              しかし、後述するアクションのカレンダー表示を実施すると、カレンダー上には「資料作成」としか表示されず、何の資料なのかわからなくなってしまいます。
              また、アクション登録後にプロジェクトに振り分けるのも面倒に感じていました。
              プロジェクトを小分けにすることで、順次実行等で次にやるべきものだけを見ることができるメリットもあります。
              しかし、OmniFocus での作業が増えてしまうと、面倒くさがりな私はまた使わなくなってしまいます。
            %p
              こんな背景から結局 GTD の基本に立ち戻り、「Clarify:見極め」に相当する部分をそのまま実行することにしました。
              %ul
                %li a行動すべき
                %ul
                  %li d望むべき結果 (タイプ: 並列実行、ステータス: 保留)
                  %li n次にやるべき行動 (タイプ: 並列実行、ステータス: アクティブ)
                %li n必要なし
                %ul
                  %li hいつかやる (タイプ: 並列実行、コンテキスト: i保留、ステータス: 保留)
                  %li r資料 (タイプ: 並列実行、コンテキスト: r参考資料、ステータス: 保留)
              OmniFocus が便利なのは入力に省略形が使えることです。
              次にやるべき行動を選びたければ、プロジェクトの選択時に「an」と入力するだけでよくなります。
              アルファベットはこの選択のために利用するので、それ以外の部分は日本語で書くようにします。
            %p
              この分類にしたおかげで、振り分けは非常に簡単になりました。
              やらなければならないけど、今はできないものは「ad」にして、今できるものは「an」にします。
              自分でやる必要はないものだけど、もしかしたらいつかやることになるものは「nh」、単なる資料は「nr」にします。
          .col-md-4.col-sm-6.text-center
            %img{ image_url_alt('OmniFocusProject.png') }
            %br
            OmniFocus のプロジェクト
      - when :context
        .row
          .col-md-8.col-sm-6
            %p
              プロジェクトと同様にこれも二転三転しましたが、これも GTD の基本に立ち戻りました。
              コンテキストは GTD の「Organize: 整理」に相当します。
              コンテキストもプロジェクトに対応するように分類しています。
              %ul
                %li d望むべき結果 (ステータス: 保留)
                %ul
                  %li o目的/価値観 (ステータス: 保留)
                  %li vビジョン (ステータス: 保留)
                  %li gゴール (ステータス: 保留)
                  %li a分野 (ステータス: 保留)
                  %li pプロジェクト (ステータス: 保留)
                  %li w連絡待ち (ステータス: 保留)
                %li a次に取るべき行動
                %ul
                  %li cカレンダー
                  %li aいつでも
                  %ul
                    %li c電話
                    %li mコンピュータ
                    %li o職場 (位置を職場に設定)
                    %li h自宅 (位置を自宅に設定)
                    %li aどこでも
                    %li bコンビニ/買い物
                    %li d議論
                    %li r読む
                  %li w連絡待ち (ステータス: 保留)
                %li i保留 (ステータス: 保留)
                %ul
                  %li sレビュー待ち (ステータス: 保留)
                  %li c日付を決めて再検討 (ステータス: 保留)
                %li r参考資料 (ステータス: 保留)
                %li sサポート
              %p
                「a次に取るべき行動(w連絡待ち以外)」と「sサポート」を除き、すべて保留にしています。
                「mコンピュータ」は本当は「mMac」と書きたかったのですが、省略形で誤判定が起こったのでこうなりました(省略形だけ残っています)。
                この中で「cカレンダー」だけは特殊なコンテキストになります。
                「会議に参加」や「資料提出締切」など外部から期日指定されたアクションがここに入ります。
                これらは主にメールや会議中の打合せで確定するため、Fantastical 2 という別のアプリと連携します。
                これらのイベントに合わせて、「提出資料作成」などの別のアクションを作成し、「mコンピュータ」などのコンテキストに追加をしていきます。
          .col-md-4.col-sm-6
            .text-center
              %img{ image_url_alt('OmniFocusContext.png') }
              %br
              OmniFocus のコンテキスト
      - when :inbox
        %p
          GTD では頭にあるタスクをすべて書き出す必要があります(「Capture: 把握」に相当する部分です)。
          この把握の段階では、プロジェクトやコンテキストのことは考えず、すべてインボックスに登録することになります。
          各デバイスごとに便利な方法が異なるので、それぞれで説明します。
        .row
          .col-md-8.col-sm-6
            %dl
              %dt Mac 版の場合
              %dd
                もっとも簡単なのは、インボックスを開き「+」で新規アクションをタイプするものです。
                Mac の場合にはこれでもあまり苦にはなりません。
                ただし、Safari で Web を閲覧していたときに、目に付いたキーワードを再度タイプするのは莫迦らしいです。
                そこで、Mac ユーザでもあまり存在が知られていない「サービス」を使います。
                まず、準備として以下の作業を行います。
                %ul
                  %li システム環境設定をクリック
                  %li ショートカットタブを表示
                  %li サービスを選択
                  %li 「OmniFocus 2...ンボックスに送信」にチェックを入れ、適当なショートカットを設定(私の場合は Command-Shift-O)
                この設定ができたら、Safari などで気になった文字列を選択し、「Command-Shift-O(上記で設定したショートカット)」をクリックします。
                ここで単にリターンキーを押すだけで、自動的にインボックスにアクションが登録されます。
                必要に応じて、プロジェクトやコンテキストを設定することもできます。
                この方法を設定した場合、元の情報に対するリンクがメモに記録されます。
                このリンクをクリックすることで、元の情報を参照できる場合があります。
                図はサービスを使った入力例です。
                ここでは、moodle の課題入力画面で課題のタイトル「設計書の提出(二稿)」を選択し、Command-Shift-O をクリックしました。
                タイトルは作業名にしたいので「を評価」と追加しています。
                ここでメモ欄に「課題」とありますが、これは moodle のページタイトルです。
                OmniFocus でこの文字列をクリックすると課題のページに飛ぶことができます。
          .col-md-4.col-sm-6
            .text-center
              %img{ image_url_alt('SystemPreferencesService.png') }
              %br
              システム環境設定-キーボード-ショートカット-サービス
              %img{ image_url_alt('OmniFocusService.png') }
              %br
              サービスを使った入力
        %dl
          %dt iOS 機器の場合
          %dd
            iOS の場合でもインボックスでタイプすればよいのですが、OmniFocus ではアクションの保存が画面の上の方にあり、画面の大きい iPhone 7 Plus では少し面倒です。
            そこで、「速Reminder」というアプリを利用します。
            まず、準備として以下の作業を行います。なお、リマインダーから OmniFocus に取り込む設定は iOS 機器の一台だけで実施します。ここでは、iPhone を例に説明します。
            %ul
              %li 標準のリマインダーに「OmniFocus」というリストを追加
              %li iPhone のホーム画面で右にスワイプ(別のアプリが動いているときは、通知センターを出してから右にスワイプ)
              %li 設定をクリック
              %li キャプチャのリマインダーをクリック
              %li リマインダーキャプチャを ON
              %li 「OmniFocus (デフォルト) 」リストを選択
              %li
                速Reminder を購入
                - u, n = link_outer_url_name 'QReminder', @objs['outer_link_button_class']
                %a{ u }= n
              %li 速Reminderを実行
              %li 設定で「通知センターへ登録」を ON
              %li リマインダーリストを「OmniFocus」に変更
              %li iPhone で通知センターを表示
              %li 左にスワイプして今日を表示
              %li 一番下までスクロールし、編集をクリック
              %li 速Reminder の「+」をクリック
              %li 追加したウェジェットで一番上に移動
            これで、設定は終わりです。
            アクションを登録するには、以下のようにします。
            %ul
              %li iPhone のホーム画面で右にスワイプ(別のアプリが動いているときは、通知センターを出してから右にスワイプ)
              %li 速Reminder の「なし」をクリック
              %li (速Reminder が起動するので、アクション名をクリックして「送信」
            速Reminder は標準のリマインダーへの登録しかしませんが、OmniFocus がキャプチャするので、インボックスに登録されます。
            送信がキーボードの部分にあるので、OmniFocus で入力するよりも速く入力できます。
          %dt おまけ: Siri によるアクション登録
          %dd
            上記の設定をしてあると、Siri でアクションを登録できるようになります。
            準備すべき項目は、リマインダーの設定で「デフォルトのリスト」を「OmniFocus」にするだけです。
            あとは、Siri を起動し、「○○をリマインド」とか「○○する」としゃべるだけです。
            時間も入れると期限も追加されます。
      - when :calendar
        %p
          ここからが今回の目玉であるカレンダーからのアクション登録です。
          ここではまずカレンダーと OmniFocus の連携方法を説明し、Fantastical 2 の使い方は次で説明します。
        %p
          期限付きのイベントはメールなどに書かれた日付をクリックして直接カレンダーに登録することが多く、OmniFocus には登録していませんでした。
          OmniFocus で期限を設定したアクションは、パースペクティブの項で説明したカレンダーアラームによりカレンダーに表示されています。
          このため、カレンダーを見ることでタスクがあることは理解できるものの、どちらで登録したのかいちいち判断する必要がありました。
          この煩雑さを解消するために、カレンダーから OmniFocus に登録する設定を行いました。
          以下にその方法を説明します。
        .row
          .col-md-8.col-sm-6
            %dl
              %dt IFTTT の設定
              %dd
                IFTTT (if this then that) とは複数の Web サービスを連携するためのシステムです。
                Web サービスでトリガが発生したときに IFTTT が自動で作業をしてくれるサービスです。
                様々な Web サービスごとにチャネルが用意されており、予めチャネルの認証をしておくと後は部品を組み立てるだけになります。
                ここでは、Google Calendar にイベントが登録されたときに、あるアドレスにメールを送信するというアプレットを組み立てます。
                %ol
                  %li IFTTT にログイン(アカウントがない場合にはサインアップ)。
                  %li Google Calendar チャネルを認証 (カレンダー選択では利用するカレンダーを選んでおく。私の場合は歴史的な経緯から VoDoo というこれまでに使っていたものを選択した)
                  %li Gmail チャネルを認証
                  %li 新しいアプレットを作成
                  %li トリガとなる「this」をクリック
                  %li go くらいをタイプしてフィルタリングし、「Google Calendar」を選択
                  %li 「Any new event added」をクリック
                  %li 作業となる「that」をクリック
                  %li gm をタイプしてフィルタリングし「Gmail」を選択
                  %li 送信アドレスは「+omnifocus」が付与された Gmail アドレスに設定
                  %li Subject に「"Title" ::an@ac# "Starts"」と設定("Title" と "Starts" はで「+Ingredient」で選択)
                  %li Body は邪魔なので消す
                  %li 保存
                メールアドレスに「+omnifocus」と追加するのは、別途設定する MailAction で他のメールと区別するためです。
                Gmail が使えない場合には、件名を工夫するなどして普通のメールと区別するようにしてください。
                なお、Subject に設定した文字列は「a行動すべき-n次にやるべき行動」プロジェクト、「a次に取るべき行動-cカレンダー」コンテキスト、「スケジュールの日付」期限とするためのものです。
          .col-md-4.col-sm-6
            .text-center
              %img{ image_url_alt('IFTTTOmniFocus.png') }
              %br
              IFTTT 設定画面
        %dl
          %dt MailAction.applescript の入手と修正
          %dd
            IFTTT によりカレンダー登録時に特殊な件名のメールが届くようになったので、Mac のメール.app のMailAction の設定をします。
            以下に手順を示します。
            %ol
              %li
                OmniFocus のサポートページ
                - u, n = link_outer_url_name 'OmniFocusMailAction', @objs['outer_link_button_class']
                %a{ u }= n
                から、MailAction.applescript をダウンロード(「this linked AppleScript file」というリンク)。
              %li このままだと2:30PM という文字列の「:」以降が無視されてしまうことが判明した(午前2時に期限が設定されてしまう)ので、修正するためにこのファイルをダブルクリック(スクリプトエディタが起動するはず)
              %li 以下の行を15行目(「set theText to theSubject ...」の1行前)に記述
              = include_oneliner(%q!set theSubject to (do shell script "echo " & quoted form of theSubject & " | ruby -Ku -e 'print gets.chomp.gsub(/(\\d\\d):(\\d\\d)PM$/) { \"#{ format \"%02d\", $1.to_i+12 }#{ $2 }\" }.gsub(/:(\\d\\d)AM$/) { $1 }'")!)
              %li 保存したら、以下のコマンドで「~/Library/Application Scripts/com.apple.mail」にコピー
              = include_oneliner('cp MailAction.applescript ~/Library/Application\ Scripts/com.apple.mail')
        .row
          .col-md-6.col-sm-6
            %dl
              %dt メール.app のルール設定
              %dd
                上記で設置した MailAction をルールとして設定します。
                手順は以下の通りです。
                %ol
                  %li メール.app を開く
                  %li 環境設定を開く
                  %li ルールを選択
                  %li ルールを追加をクリック
                  %li 以下の設定を記述
                  %ul
                    %li 説明は「OmniFocusに送信」
                    %li 条件として「宛先」「+omnifocus」「を含む」に設定
                    %li 設定する操作は以下の通り
                    %ul
                      %li メッセージを移動: 移動先「ゴミ箱(このMac内)」(場所は適当)
                      %li 開封済みにする
                      %li フラグ付きにする:「レッド」(付けなくともよい)
                      %li AppleScriptを実行: MailAction を選択
                      %li ルールの評価を停止
                  %li Ok を押す
                ここまで設定すると、自動的に OmniFocus にアクションが登録されます。
          .col-md-6.col-sm-6
            .text-center
              %img{ image_url_alt('MailActionSetting.png') }
              %br
              メールアクション設定
        %p
          これでカレンダー登録により、OmniFocus によるアクション登録が実施されることになりました。
          このため、メール等に書かれた日付をクリックするだけで、OmniFocus のアクション登録が自動化されます(プロジェクト、コンテキスト、期限が自動設定)。
      - when :Fantastical
        .row
          .col-md-8.col-sm-6
            %p
              スケジュールアクションはカレンダーに登録することで OmniFocus にも登録できるようになりました。
              ただし、iPhone の標準カレンダーで時刻を入力するのはちょっと面倒です。
              これまでは、VoDoo というアプリを利用していましたが、現在入手が不可能となっているようなので、代替アプリを探しました。
              いろいろと調べたところ、Fantastical 2 というアプリを見つけました。
              - u, n = link_outer_url_name 'Fantastical2', @objs['outer_link_button_class']
              %a{u}= n
            %p
              入力画面にあるように「3年研究室紹介 来週水曜日 14:30 - 14:40」のようにするだけで、日程が設定できています。
              曜日がわかっているけど日にちがわからない時なども多いので、日付以外の方法で登録できるのは便利だと思います(当然ながら普通に日付を入れることもできます)。
              画面を見てわかるように、通常のキーボードの上に数字、「/:-.」などの記号もあり楽に入力できる工夫がされています。
              また、入力中の日付・時刻のスケジュールが自動的に下欄に表示されます(入力に合わせてリアルタイムに更新されます)。
              これによりダブルブッキングを事前に回避することが可能となります。
            %p
              入力されたスケジュールの複製も簡単です。
              例えば、職場の行事日程は共有カレンダーを用意しており、複数人で共同入力しています。
              このスケジュールを VoDoo カレンダーに複製することで、そのまま OmniFocus に取り込むことが可能です(必要に応じて文言や時程を追加します)。
            %p
              Fantastical 2 で入力が終了してしばらくすると、IFTTT がメールを送信した旨の通知が届きます。
              この通知が届いた時点で、Fantastical 2 で登録したスケジュールは消してしまいます。
              後から OmniFocus 側でカレンダーアラートが表示されるため、カレンダーに残す必要はないからです(消さないとイベント通知が二重に届くのでうざいです)。
          .col-md-4.col-sm-6
            .text-center
              %img{ image_url_alt('Fantastical2.png') }
              %br
              Fantastical2 によるカレンダー登録
      - when :perspective
        %p
          OmniFocus が便利なのは、情報を入れてしまった後は今やれることに対して、さまざまな側面から focus できるという点です。
          ここでは、新規に追加したパースペクティブの説明だけでなく、それ以外の focus 方法について説明します。
        .row
          .col-md-8.col-sm-6
            %dl
              %dt 予測
              %dd
                一番最初に見る画面です(Command-4 で表示できます)。
                期日について focus した中で、 GTD の「Engage: 選択」を実施することになります。
                期限が設定されたアクションのみが表示されます(基本は「n次に取るべき行動:cカレンダー」)。
                カレンダーにはその日が期限のアクションの個数が表示されます。
                アクションと同時にシステムのカレンダーに登録したイベントも並記して表示されます。
                また、iPhone 版の OmniFocus にて、カレンダーアラームを設定しているため、カレンダーに表示されるだけでなく、指定時間前に通知も行われます。
          .col-md-4.col-sm-6
            .text-center
              %img{ image_url_alt('OmniFocusForecast.png') }
              %br
              予測画面
        .row
          .col-md-8.col-sm-6
            %dl
              %dt 処理可能
              %dd
                期限が設定されていないものも含めて、処理可能なアクションをすべて表示するパースペクティブです。
                急ぎの仕事ではないが現在実施可能な項目について、 GTD の「Engage: 選択」を実施することになります。
                Mac 版の OmniFocus で以下のようにして作成しました。
                %ul
                  %li パースペクティブを追加
                  %li 名前は「処理可能」
                  %li ショートカットは「Command-7」
                  %li アイコンは「チェックマーク」
                  %li 「プロジェクト階層を使用しない」を選択
                  %li プレゼンテーション-アクションをグループ化は「コンテキスト」
                  %li プレゼンテーション-アクションを並び変えは「期限」
                  %li レイアウトは「ユーザ環境設定」
                  %li フィルタは「任意のステータス」「処理可能」「任意の所要時間」「残り」
                  %li 右の★をマークしてデフォルトで表示
                この画面でやれそうなアクションは実施してしまい、チェックしていきます。
          .col-md-4.col-sm-6
            .text-center
              %img{ image_url_alt('OmniFocusActionable.png') }
              %br
              処理可能パースペクティブの設定画面
        %dl
          %dt レビュー
          %dd
            デフォルトだと1週間ごとにレビューするように促されます。
            その時に使う画面です(Command-6 で表示)。
            プロジェクトごとにアクションを振り返り、必要に応じて期限などを付け替えます。
            GTD の「Reflect: 更新」にあたる処理になります。
        .row
          .col-md-8.col-sm-6
            %dl
              %dt Planning
              %dd
                簡単に処理可能なものを片付けていくと、比較的重たい仕事ばかりが残っていきます。
                人間は嫌なことは先延ばしにすることが多いので、積極的に締切を設定する必要があります。
                Planning はその締切を設定しやすくするためのパースペクティブです。
                Mac 版の OmniFocus で以下のようにして作成します。
                %ul
                  %li パースペクティブを追加
                  %li 名前は「Planning」
                  %li ショートカットは「Command-8」
                  %li アイコンは「時計」
                  %li 「プロジェクト階層を使用しない」を選択
                  %li プレゼンテーション-アクションをグループ化は「期限」
                  %li プレゼンテーション-アクションを並び変えは「コンテキスト」
                  %li レイアウトは「ユーザ環境設定」
                  %li フィルタは「任意のステータス」「残り」「任意の所要時間」「残り」
                  %li 右の★をマークしてデフォルトで表示
                この結果、期限ごとにアクションが並びます。
                ここでは、期限が付いていないアクションに積極的に期限を設定していきます。
                予測との違いは、カレンダーイベントが表示されないこと、左側でコンテキストごとにフィルタがかけられることです。
                これも、GTD の「Reflect: 更新」にあたる処理になります。
          .col-md-4.col-sm-6
            .text-center
              %img{ image_url_alt('OmniFocusPlanning.png') }
              %br
              Planning パースペクティブの設定画面
      - when :conclusion
        %p
          OmniFocus はかなり高いアプリではありますが、非常に有効なアプリです。
          以下に示す GTD の 5 つの操作が簡単に実施できるようになります。
          %ol
            %li Capture: 把握
            %li Clarify: 見極め
            %li Organize: 整理
            %li Reflect: 更新
            %li Engage: 選択
          買ったけど使いこなせていない人は是非参考にしてください。
