:ruby
  require 'find'

  files = Find.find('contents/haml/').select { |f| f =~ /.haml$/ }.map { |f| [ File::mtime(f), f.gsub('contents/haml/', '')] }.sort.reverse
%p 最近更新されたページは上に表示されています。
- files.each do |mtime, file|
  - unless file == 'history.haml' || file =~ /Tags.haml$/
    - date = @objs['links'][file]['date']
    - u, n = link_url_name file, @objs['history_button_class']
    %a{ u }
      .row
        .col-md-9
          .text-center
            = n
            - if date
              = ':'
              = date_only_str(Date.parse(date))
        .col-md-3
          .text-right
            = date_str mtime
