.well.well-lg
  %h1{class: 'h3'} Image Processing &amp; Software Design Laboratory
  %p
    東京都立産業技術高等専門学校 ものづくり工学科 電気電子工学コース 小林研究室
  %ul
    %li
      .label.label-info
        水色ボタン
      … 内部コンテンツリンクを示します。
    %li
      .label.label-warning
        橙色ボタン
      … 外部コンテンツリンクを示します。
    %li このページは小林が管理しています。
:ruby
  tagCount = Hash.new(0)
  links = @objs['links']
  links.values.each do |link|
    if tags = link['tags']
      tags.split(',').each do |tag|
        tagCount[tag] += 1
      end
    end
  end
.well.well-lg
  %h2.h4 タグ一覧
  - tagCount.sort_by { |k, v| v }.reverse.each do |t, v|
    - u, n = link_url_name "#{t}Tags.haml", @objs['tag_button_class']
    %a{ u }
      = n
      %span.badge= v

:ruby
  require 'find'

  files = Find.find('contents/haml/').select { |f| f =~ /.haml$/ }.map { |f| [ File::mtime(f), f.gsub('contents/haml/', '')] }.sort.reverse
.well.well-lg
  %h2.h4 最近の5件
  - count = 0
  - files.each do |mtime, file|
    - unless file =~ /(index|history).haml/ || file =~ /Tags.haml$/
      - date = @objs['links'][file]['date']
      - u, n = link_url_name file, @objs['history_button_class']
      %a{ u }
        .row
          .col-md-9
            .text-center
              = n
              - if date
                = ':'
                = date_only_str(Date.parse(date))
          .col-md-3
            .text-right
              = date_str mtime
      - count += 1
      - break if count == 5

.well.well-lg
  .row
    .col-md-6
      - u, n = link_url_name 'Links/index.haml', @objs['top_menu_button_class']
      %a{ u }= n
    .col-md-6
      - u, n = link_url_name 'history.haml', @objs['top_menu_button_class']
      %a{ u }= n
