:ruby
  breadcrumbs = %w()
  title_hash = {
    tmcit: '高専関係', research: '研究関係', rails: 'Rails 関係',
  }
  links_hash = {
    tmcit: %w( tmcit ee_moodle ee_redmine gmail classroom office365 ),
    research: %w( kiya_lab ieice ieee ),
    rails: %w( rubyonrails railsdoc bootswatch ),
  }
%p 分野別に参考になるページを紹介します。
= nav_tabs title_hash
#myTabContent.tab-content
  - links_hash.each do |k, v|
    %div{ tab_pane_class(links_hash, k) }
      %h2.h4= links_hash[k]
      %table{ @objs['default_table_class'] }
        - v.each do |link|
          - u, n, d = link_outer_url_name link, @objs['outer_link_list_class']
          %a{ u }
            .row
              .col-md-6
                .text-left= n
              .col-md-6
                .text-right=d
