:ruby
  breadcrumbs = %w( Research/index.haml )
  title_hash = {
    jp: '学術論文', books: '著書', icp: '国際会議論文', dcp: '学会講演論文', other: 'その他',
  }
  links_hash = {
    jp: [
      'Sayaka MINEWAKI, Masahiro IWAHASHI, Hiroyuki KOBAYASHI, Taichi YOSHIDA, and Hitoshi KIYA, "Near lossless coding of sparse histogram images based on zero-skip quantization," Multimedia Tools and Applications, September 2017.', 'https://link.springer.com/article/10.1007%2Fs11042-017-5082-2', 
      'Hiroyuki KOBAYASHI, Shoko IMAIZUMI, and Hitoshi KIYA, "A Robust Identification Scheme for JPEG XR Images with Various Compression Ratios," LNCS, T. Bräunl, B. McCane, M. Rivera, and X. Yu, Eds. Springer-Verlag, vol.9431, pp.38–50, February 2016. ', 'http://link.springer.com/chapter/10.1007%2F978-3-319-29451-3_4',
      'Taku ODAKA, Wannida SAE-TANG, Masaaki FUJIYOSHI, Hiroyuki KOBAYASHI, Masahiro IWAHASHI, and Hitoshi KIYA, "An Efficient Lossless Compression Method Using Histogram Packing for HDR Images in OpenEXR Format," IEICE Trans. Fundamentals, vol.E97-A , no.11, pp.2181–2183, November 2014. ', 'http://search.ieice.org/bin/summary.php?id=e97-a_11_2181&category=A&year=2014&lang=E&abst=',
      '貴家 仁志, 小林 弘幸, 岩橋 政宏, "疎なヒストグラム画像のための荷重メジアンカット量子化とその応用," 電子情報通信学会 論文誌, vol.J96-A, no.7, pp.462–470, 2013年7月. ', 'http://search.ieice.org/bin/summary.php?id=j96-a_7_462&category=A&lang=J&ref=rss&abst&year=2013#/',
      '関 裕介, 小林 弘幸, 藤吉 正明, 貴家 仁志, "埋込位置の特定を必要としないJPEG画像へのデータ埋込法," 電子情報通信学会 論文誌, vol.J88-D-II, no.10, pp.2037–2045, 2005年10月. ', 'http://search.ieice.org/bin/summary.php?id=j88-d2_10_2037&category=D&year=2005&lang=J&abst=',
      '安藤 勝俊, 小林 弘幸, 貴家 仁志, "レイヤ構造を利用したJPEG2000符号化画像へのバイナリーデータ埋込み法," 電子情報通信学会 論文誌, vol.J85-D-II, no.10, pp.1522–1530, 2002年10月. ', 'http://search.ieice.org/bin/summary.php?id=j85-d2_10_1522&category=D&year=2002&lang=J&abst=',
      'Yoshihiro NOGUCHI, Hiroyuki KOBAYASHI, and Hitoshi KIYA, "A Method of Extracting Embedded Binary Data from JPEG Bitstreams Using Standard JPEG Decoder," IEICE Trans. Fundamentals, vol.E83-A, no.8, pp.1582–1588, August 2000. ', 'http://search.ieice.org/bin/summary.php?id=e83-a_8_1582&category=A&year=2000&lang=E&abst=',
      '小林 弘幸, 野口 祥宏, 貴家 仁志, "JPEG符号化列へのバイナリデータの埋め込み法," 電子情報通信学会 論文誌, vol.J83-D2, no.6, pp.1469–1476, 2000年6月. ', 'http://search.ieice.org/bin/summary.php?id=j83-d2_6_1469&category=D&year=2000&lang=J&abst=',
      'Hitoshi KIYA, Hiroyuki KOBAYASHI, and Osamu WATANABE, "Design of Integer Wavelet Filters for Image Compression," IEICE Trans. Fundamentals, vol.E83-A, no.3, pp.487–491, March 2000. ', 'http://search.ieice.org/bin/summary.php?id=e83-a_3_487&category=A&year=2000&lang=E&abst=',
      'Hitoshi KIYA, Yoshihiro NOGUCHI, Ayuko TAKAGI, and Hiroyuki KOBAYASHI, "A Method of Inserting Binary Data into MPEG Video in the Compressed Domain," IEICE Trans. Fundamentals, vol.E82-A, no.8, pp.1485–1492, August 1999. ', 'http://search.ieice.org/bin/summary.php?id=e82-a_8_1485&category=A&year=1999&lang=E&abst=',
      '小林 弘幸, 貴家 仁志, "最小遅延量を持つオーバサンプルDFTフィルタバンクの設計," 電子情報通信学会 論文誌, vol.J79-A, no.11, pp.1801–1807, 1996年11月. ', 'http://search.ieice.org/bin/summary.php?id=j79-a_12_1966&category=A&year=1996&lang=J&abst=',
      '貴家 仁志, 小林 弘幸, "ポリフェーズ部分行列に基づくオーバサンプル・フィルタバンク," 電子情報通信学会 論文誌, vol.J79-A, no.9, pp.1525–1534, 1996年9月. ', 'http://search.ieice.org/bin/summary.php?id=j79-a_9_1525&category=A&year=1996&lang=J&abst=',
      '渡口 和信, 小林 弘幸, 貴家 仁志, "完全再構成DFTフィルタバンクを用いたサブバンド適応フィルタ," 電子情報通信学会 論文誌, vol.J79-A, no.8, pp.1385–1393, 1996年8月. ', 'http://search.ieice.org/bin/summary.php?id=j79-a_8_1385&category=A&year=1996&lang=J&abst=',
      '小林 弘幸, 貴家 仁志, "階層的復調を可能とする直交周波数分割変調の一検討," 電子情報通信学会 論文誌, vol.J78-A, no.3, 1995年3月. ', 'http://search.ieice.org/bin/summary.php?id=j78-a_3_440&category=A&year=1995&lang=J&abst='
    ],
    books: [
      '田原 潤一郎, 小林 弘幸, ステップ30 情報演習C言語ワークブック, カットシステム, 2005年5月.', 'http://www.cutt.co.jp/book/4-87783-820-1.html',
      '伊原 充博, 小林 弘幸, 8086マクロアセンブラ入門, 技術評論社, 1993年4月.', 'http://gihyo.jp/book/2002/4-7741-1442-1',
    ],
    icp: [
      'Artit VISAVAKITCHAROEN, Hiroyuki KOBAYASHI, Sayaka SHIOTA, and Hitoshi KIYA, "Compression Performance of Extended JPEG XT Under Various TMOs," Proc. IEEE Global Conference on Consumer Electronics, Nagoya, Japan, 24th October, 2017', nil,
      'Hiroyuki KOBAYASHI and Hitoshi KIYA, "An extension of JPEG XT with JPEG 2000," Proc. IEEE International Conference on Consumer Electronics - Taiwan, Taipei, Taiwan, 14th June, 2017.', 'http://ieeexplore.ieee.org/document/7991151/',
      'Hiroyuki KOBAYASHI and Hitoshi KIYA, "Two Layer Coding Based on JPEG 2000 for HDR Images," Proc. International Workshop on Advanced Image Technology, Penang, Malaysia, 8th January, 2017.', nil,
      'Artit VISAVAKITCHAROEN, Yuma KINOSHITA, Hiroyuki KOBAYASHI, and Hitoshi KIYA, "Quality Improvement of Tone Mapped Images by TMQI-II based Optimization for the JPEG XT Standard," Proc. IEEE International Symposium on Intelligent Signal Processing and Communication Systems, PID-103, Phuket, Thailand., 25th October, 2016. ', 'http://ieeexplore.ieee.org/document/7824749/',
      'Kenta IIDA, Hiroyuki KOBAYASHI, and Hitoshi KIYA, "Secure Identification Based on Fuzzy Commitment Scheme for JPEG XR Images," Proc. EURASIP European Signal Processing Conference, pp.968–972, Budapest,Hungary, 31st August, 2016.', 'http://www.eurasip.org/Proceedings/Eusipco/Eusipco2016/papers/1570256438.pdf',
      'Hiroyuki KOBAYASHI, Shoko IMAIZUMI, and Hitoshi KIYA, "A Robust Identification Scheme for JPEG XR Images with Various Compression Ratios," Proc. Pacific Rim Symposium on Image and Video Technology, Auckland, New Zealand, 23rd November, 2015. ', nil,
      'Hiroyuki KOBAYASHI, Masahiro IWAHASHI, and Hitoshi KIYA, "A New Class of Near-Lossless Coding Allowing Estimation of ℓ∞ Bound," Proc. IEEE International Symposium on Communications and Information Technologies, pp.109–112, Nara, Japan, 7th October, 2015. ', 'http://ieeexplore.ieee.org/xpl/articleDetails.jsp?arnumber=7458319',
      'Taku ODAKA, Wannida SAE-TANG, Masaaki FUJIYOSHI, Hiroyuki KOBAYASHI, Masahiro IWAHASHI, and Hitoshi KIYA, "A Lossless Compression Method Using Histogram Packing for HDR Images in OpenEXR Format," Proc. International Workshop on Advanced Image Technology, no.E1-061, pp.237–240, Bangkok, Thailand, 7th January, 2014. ', nil,
      'Wannida SAE-TANG, Masaaki FUJIYOSHI, Hiroyuki KOBAYASHI, and Hitoshi KIYA, "Intensity Range Reduction for Amplitude-Only Images," Proc. International Workshop on Advanced Image Technology, no.5A-1, pp.322–327, Nagoya，Japan, 8th January, 2013. ', nil,
      'Hiroyuki KOBAYASHI, Masahiro IWAHASHI, and Hitoshi KIYA, "Weighted Median Cut Quantization and Its Applications," Proc. IEEE International Symposium on Intelligent Signal Processing and Communication Systems, no.D4.2, pp.509–514, New Taipei City, Taiwan, R.O.C., 6th November, 2012. ', 'http://ieeexplore.ieee.org/xpl/articleDetails.jsp?arnumber=6473543',
      'Masahiro IWAHASHI, Hiroyuki KOBAYASHI, and Hitoshi KIYA, "Fine Rate Control and High SNR Coding for Sparse Histogram Images," Proc. Picture Coding Symposium, no.P2a-9, pp.205–208, Krakow, Poland, 8th May, 2012. ', 'http://ieeexplore.ieee.org/xpl/articleDetails.jsp?arnumber=6213328',
      'Masahiro IWAHASHI, Hiroyuki KOBAYASHI, and Hitoshi KIYA, "Lossy Compression of Sparse Histogram Image," Proc. IEEE International Conference on Acoustics, Speech and Signal Processing, no.IVMSP-P10.5, pp.1361–1364, Kyoto, Japan, 30th March, 2012. ', 'http://ieeexplore.ieee.org/xpl/articleDetails.jsp?arnumber=6288143',
      'Yuki KOBAYASHI, Hiroyuki KOBAYASHI, and Hitoshi KIYA, "A Lossy Image Coding Method Based on Histogram Packing," Proc. International Workshop on Advanced Image Technology, no.1-2, pp.534–537, Ho Chi Minh City, Vietnam, 9th January, 2012. ', nil,
      'Fitri Arnia, Ikue IIZUKA, Hiroyuki KOBAYASHI, Masaaki FUJIYOSHI, and Hitoshi KIYA, "DCT Sign Only Correlation and Its Application to Image Registration," Proc. IEEE Asia-Pacific Conference on Circuits and Systems, no.D1-PM2-RM7.3, pp.467–470, Singapore, 5th December, 2006. ', 'http://ieeexplore.ieee.org/xpl/articleDetails.jsp?arnumber=4145432',
      'Masaaki FUJIYOSHI, Yusuke SEKI, Hiroyuki KOBAYASHI, and Hitoshi KIYA, "Modulo Arithmetic-Based Image Watermarking and Its Theoretical Analysis of Image-Quality," Proc. IEEE International Conference on Image Processing, vol.I, no.MonPmPO4.5, pp.969–972, Genoa, Italy, 12th September, 2005. ', 'http://ieeexplore.ieee.org/xpl/articleDetails.jsp?tp=&arnumber=1529914',
      'Yusuke SEKI, Hiroyuki KOBAYASHI, Masaaki FUJIYOSHI, and Hitoshi KIYA, "Quantization-Based Image Steganography without Data Hiding Position Memorization," Proc. IEEE International Symposium on Circuits and Systems, no.C2L-R.5, pp.4987–4990, Kobe, Japan, 26th May, 2005. ', 'http://ieeexplore.ieee.org/xpl/articleDetails.jsp?arnumber=1465753',
      'Hiroyuki KOBAYASHI and Hitoshi KIYA, "Robust Image Authentication Using Hash Function," Proc. IEEE Region 10 Conference, no.1135, Chiang Mai, Thailand, 24th November, 2004.', 'http://ieeexplore.ieee.org/xpl/articleDetails.jsp?arnumber=1414450',
      'Katsutoshi ANDO, Hiroyuki KOBAYASHI, and Hitoshi KIYA, "A Method for Embedding Binary Data into JPEG2000 Bit Streams Based on the Layer Structure," Proc. EURASIP European Signal Processing Conference, no.308, Toulouse, France, 1st September, 2002.', 'http://ieeexplore.ieee.org/xpl/articleDetails.jsp?arnumber=7072015',
      'Yoshihiro NOGUCHI, Hiroyuki KOBAYASHI, and Hitoshi KIYA, "A Method of Extracting Embedded Binary Data from JPEG Bitstreams Using Standard JPEG Decoder," Proc. IEEE International Conference on Image Processing, no.MP03.01, Vancouver, Canada, 1st September, 2000.', 'http://ieeexplore.ieee.org/xpl/login.jsp?tp=&arnumber=901024&url=http%3A%2F%2Fieeexplore.ieee.org%2Fxpls%2Fabs_all.jsp%3Farnumber%3D901024',
      'Hitoshi KIYA, Hiroyuki KOBAYASHI, and Osamu WATANABE, "Design of Integer Wavelet Filters for Image Compression," Proc. IEEE International Symposium on Intelligent Signal Processing and Communication Systems, no.1-Feb, pp.717–720, Phuket, Thailand, 1st December, 1999.', nil,
      'Hitoshi KIYA, Yoshihiro NOGUCHI, Ayuko TAKAGI, and Hiroyuki KOBAYASHI, "A Method of Inserting Binary Data into MPEG Bitstreams for Video Index Labeling," Proc. IEEE International Conference on Image Processing, no.28AP2.10, Kobe, Japan, 1st October, 1999.', 'http://ieeexplore.ieee.org/xpl/articleDetails.jsp?tp=&arnumber=819596',
      'Hitoshi KIYA, Yoshihiro NOGUCHI, Ayuko TAKAGI, and Hiroyuki KOBAYASHI, "A Method of Inserting Binary Data into MPEG Bitstreams," Proc. IEEE International Symposium on Circuits and Systems, vol.4, no.65.9, pp.471–474, 1st May, 1999.', 'http://ieeexplore.ieee.org/xpl/articleDetails.jsp?tp=&arnumber=780044',
      'Kuniyuki KAJITA, Hiroyuki KOBAYASHI, Shogo MURAMATSU, Akihiko YAMADA, and Hitoshi KIYA, "A Design Method of Oversampled Paraunitary DFT Filter Banks Using House-Holder\'s Factorization," Proc. EURASIP European Signal Processing Conference, 1st September, 1996.', nil,
      'Kuniyuki KAJITA, Hiroyuki KOBAYASHI, Shogo MURAMATSU, Akihiko YAMADA, and Hitoshi KIYA, "Design Methods for Oversampled DFT Filter Banks," Proc. International Technical Conference on Circuits/Systems, Computers and Communications, 1st July, 1996.', nil,
      'Hisashi SAKANE, Hiroyuki KOBAYASHI, and Hitoshi KIYA, "An Extrapolation Algorithm with DFT Matrix for Discrete Time Signals," Proc. Joint Technical Conference on Circuits/Systems, Computers and Communications, 1st July, 1994.', nil,
    ],
    dcp: [
      '淸水恒輔・小林弘幸, "JPEG符号化中でYCbCr色成分を暗号化するEACシステム," 電子情報通信学会ソサイエティ大会, A-8-11, 2016年9月20日', nil,
      '飯田 健太, 小林 弘幸, 貴家 仁志, "Fuzzy Commitment Schemeに基づくセキュアかつロバストなJPEG XR画像の同定," 電子情報通信学会 スマートインフォメディアシステム研究会, vol.115, no.208, (no.SIS2015-17), pp.13–18, 2015年9月2日. ', 'http://i-scover.ieice.org/iscover/page/ARTICLE-C794D48E-3165-BA0A-E5F0-7ECBD046883A',
      '小林 弘幸, 岩橋 政宏, 貴家 仁志, "再符号化の影響を回避可能なニアロスレス符号化法," 電子情報通信学会 画像符号化シンポジウム, no.P-2-13, 2014年11月12日. ', nil,
      '小林 弘幸, 岩橋 政宏, 貴家 仁志, "再符号化の影響を考慮した画像のニアロスレス符号化法," 電子情報通信学会 信号処理研究会, vol.114, no.124, (no.SIP2014-43), pp.111–116, 2014年7月10日. ', 'http://i-scover.ieice.org/iscover/page/ARTICLE-3DA80938-1222-7100-F475-21FFA1DE7AAE',
      '小林 弘幸, 岩橋 政宏, 貴家 仁志, "ニアロスレス符号化における再符号化の影響," 電子情報通信学会 総合大会, vol.ESS, no.A-4-15, p.70, 2014年3月20日. ', 'http://i-scover.ieice.org/iscover/page/ARTICLE-BB4A0397-8DA4-2D97-6000-067C9DCFE35A',
      '菊池 真徳, 小林 弘幸, 岩橋 政宏, 貴家 仁志, "RGB色空間変域制限を考慮したニアロスレス符号化," 電子情報通信学会 総合大会, vol.ESS, no.A-4-14, p.69, 2014年3月20日. ', 'http://ci.nii.ac.jp/naid/110009831093',
      '小林 弘幸, 岩橋 政宏, 貴家 仁志, "ヒストグラムパッキングに基づく任意形状のROI機能を有するニアロスレス符号化法," 電子情報通信学会 画像符号化シンポジウム, no.P-2-01, 2013年11月6日. ', nil,
      '小林 弘幸, 岩橋 政宏, 貴家 仁志, "ヒストグラムパッキングと空間領域量子化に基づくニアロスレス符号化法," 電子情報通信学会 信号処理研究会, vol.113, no.120, (no.SIP2013-38), pp.43–48, 2013年7月11日. ', 'http://i-scover.ieice.org/iscover/page/ARTICLE-5472B90B-59AE-F9D6-B94C-EE1745BDE7EE',
      '小林 弘幸, 貴家 仁志, "低ダイナミックレンジを持つDCT振幅限定画像の生成法," 電子情報通信学会 映像メディア処理シンポジウム, no.I-2-06, 2012年10月25日. ', 'http://jglobal.jst.go.jp/public/20090422/201202261213270945',
      '杉山 実花, 藤吉 正明, 小林 弘幸, 貴家 仁志, "カラー画像のための重み付きメディアンカット量子化の多次元化," 電子情報通信学会 信号処理研究会, vol.111, no.466, (no.SIP2011-136), pp.55–60, 2012年3月8日. ', 'http://i-scover.ieice.org/iscover/page/ARTICLE-DE502775-92A3-74BE-6B0D-EE1F1FF15C43',
      '貴家 仁志, 小林 弘幸, 岩橋 政宏, "一般化メディアンカット量子化とその応用," 電子情報通信学会 信号処理シンポジウム, no.A5-1, pp.99–104, 2011年11月17日. ', nil,
      '小林 弘幸, 岩橋 政宏, 貴家 仁志, "ヒストグラムの疎性を考慮したニアロスレス画像符号化法," 電子情報通信学会 画像符号化シンポジウム, no.P2-05, 2011年10月26日. ', 'http://jglobal.jst.go.jp/public/20090422/201102219741004560',
      '貴家 仁志, 小林 弘幸, 岩橋 政宏, "ヒストグラムの疎性を考慮したHDR画像の効果的量子化法," 映像情報メディア学会 メディア工学研究会, vol.35, no.30, (no.ME2011-77), pp.13–17, 2011年7月25日. ', 'http://ci.nii.ac.jp/naid/40018924420',
      '小林 弘幸, 岩橋 政宏, 飯塚 広樹, 貴家 仁志, "ロスレス圧縮のためのHDR画像の2層ダイナミックレンジスケーラビリティ表現," 電子情報通信学会 信号処理研究会, vol.110, no.440, (no.SIP2010-140), pp.131–136, 2011年3月3日. ', 'http://ci.nii.ac.jp/naid/110008689453',
      '小林 弘幸, 貴家 仁志, "輝度勾配と入出力距離を考慮した適応型零次ホールド多次元補間法," 電子情報通信学会 ソサイエティ大会, vol.ESS, no.A-4-51, p.112, 2007年9月14日.', nil,
      '小林 弘幸, 貴家 仁志, "多次元に拡張された補間関数を用いた輝度勾配適応画像補間法," 電子情報通信学会 信号処理研究会, vol.107, no.1, (no.SIP2007-39), pp.49–54, 2007年6月21日.', 'http://ci.nii.ac.jp/naid/110006343533',
      '小林 弘幸, 貴家 仁志, "DCT変換に基づく画像の位相限定相関法," 電子情報通信学会 画像工学研究会, no.IE2005-299, pp.73–78, 2006年2月21日.', 'http://ci.nii.ac.jp/naid/110004669973',
      'Masaaki FUJIYOSHI, Yusuke SEKI, Hiroyuki KOBAYASHI, and Hitoshi KIYA, "Modulo Arithmetic-Based Watermarking for High-Quality Images," IEICE Workshop on Circuits and Systems in Karuizawa, no.Bd2-2-3, pp.461–466, 26th April, 2005.', nil,
      '小林 弘幸, 長藁 真一, 西川 清史, 貴家 仁志, "拡張されたRTPを用いたJPEG 2000符号化画像の画質監視," 電子情報通信学会 総合大会, vol.情報・システム, no.DS-1-4, pp.7–8, 2005年3月22日.', 'http://ci.nii.ac.jp/naid/110004746498',
      '関 裕介, 小林 弘幸, 藤吉 正明, 貴家 仁志, "埋込み位置の特定を必要としない量子化型画像電子透かし法," 電子情報通信学会 信号処理シンポジウム, no.D6-1, 2004年11月12日.', nil,
      '関 裕介, 小林 弘幸, 藤吉 正明, 貴家 仁志, "符号化画像のための新しい非参照型電子透かし法の提案," 電子情報通信学会 画像工学研究会, no.IE2004-47, pp.41–46, 2004年9月17日. ', 'http://ci.nii.ac.jp/naid/110003273429',
      '小林 弘幸, 橘 高志, 藤吉 正明, 貴家 仁志, "ハッシュ関数を用いたロスレス電子透かし法とその放送監視への応用," 電子情報通信学会 画像工学研究会, no.IE2003-200, pp.13–18, 2004年2月3日.', 'http://ci.nii.ac.jp/naid/110003176548',
      '小林 弘幸, 貴家 仁志, "ハッシュ関数を用いた画像の真正性のロバストな判定法," 電子情報通信学会 ディジタル信号処理シンポジウム, no.D6-4, 2003年11月7日.', 'http://ci.nii.ac.jp/naid/10012830401',
      '小林 弘幸, 貴家 仁志, "絶対誤差基準パラメータを持つ画像監視法," 映像情報メディア学会 メディア工学研究会, no.ME2003-111, pp.9–12, 2003年7月17日.', 'http://ci.nii.ac.jp/naid/10012830400',
      '小林 弘幸, 貴家 仁志, "ハッシュ関数を用いた画像の真正性のロバストな判定法," 電子情報通信学会 ディジタル信号処理シンポジウム, no.D6-4, 2003年11月7日.', 'http://ci.nii.ac.jp/naid/10012830401',
      '小林 弘幸, 貴家 仁志, "絶対誤差基準パラメータを持つ画像監視法," 映像情報メディア学会 メディア工学研究会, no.ME2003-111, pp.9–12, 2003年7月17日.', 'http://ci.nii.ac.jp/naid/10012830400',
      '安藤 勝俊, 小林 弘幸, 貴家 仁志, "Layer構造に基づくJPEG2000符号化画像へのバイナリデータ埋め込み法," 電子情報通信学会 ディジタル信号処理研究会, no.DSP2001-102, pp.17–24, 2001年10月1日.', 'http://ci.nii.ac.jp/naid/110003317913',
      '田原 淳一郎，岡川 啓悟，小林 弘幸, "電子回路ソフトSpice を用いた低学年における電気回路教育," 第21回高専情報処理教育研究発表会, pp. 147～150, 2001年8月.', nil,
      '安藤 勝俊, 小林 弘幸, 貴家 仁志, "ウェーブレット変換による画像圧縮のための視覚周波数重みの拡張," 電子情報通信学会 回路とシステム(軽井沢)ワークショップ, pp.95–100, 2000年4月1日.', nil,
      '小林 弘幸, 貴家 仁志, "JPEG画像へのバイナリデータの埋め込み量に関する研究," 電子情報通信学会 ディジタル信号処理シンポジウム, no.B4-2, 1999年11月1日.', nil,
      '小林 弘幸, 貴家 仁志, "埋め込みデータ量の増加を許容するJPEG画像への電子透かし," 電子情報通信学会 ソサイエティ大会, no.SA-3-5, 1999年9月1日.', 'http://ci.nii.ac.jp/naid/110003346070',
      '野口 祥宏, 小林 弘幸, 貴家 仁志, "標準JPEGデコーダを利用した埋め込みバイナリ・データの取り出し方法," 電子情報通信学会 ソサイエティ大会, no.SA-3-4, 1999年9月1日.', 'http://ci.nii.ac.jp/naid/110003346069',
      '黒木 啓之，松田 勲，伊原 充博，小林 弘幸，田原 淳一郎, "VLAN を用いたネットワークの構築と管理," 第19回高専情報処理教育研究発表会, pp. 147～150, 1999年8月.', nil,
      'Hiroyuki KOBAYASHI, Osamu WATANABE, and Hitoshi KIYA, "Design of Integer Wavelet Filters for Image Compression," IEICE Workshop on Circuits and Systems in Karuizawa, 1st April, 1999.', 'http://ci.nii.ac.jp/naid/110003208548',
      '渡邊 修, 小林 弘幸, 貴家 仁志, "画像圧縮のための効果的な整数ウェーブレットフィルタ," 電子情報通信学会 総合大会, 1999年3月1日.', 'http://ci.nii.ac.jp/naid/110003255304',
      '小林 弘幸, 貴家 仁志, "整数ウェーブレットの設計とそのLifting構成," 電子情報通信学会 ディジタル信号処理研究会, no.DSP98-128, 1998年12月1日.', 'http://ci.nii.ac.jp/naid/110003279874',
      '小林 弘幸, 貴家 仁志, "カラーJPEG画像へのバイナリデータの埋め込み法," 電子情報通信学会 ディジタル信号処理シンポジウム, no.C5.3, 1998年11月1日.', nil,
      '高木 亜有子, 小林 弘幸, 野口 祥宏, 貴家 仁志, "MPEG画像へのバイナリデータの埋め込み法," 電子情報通信学会 ディジタル信号処理研究会, no.DSP98-115, 1998年10月1日.', 'http://ci.nii.ac.jp/naid/110003180304',
      '黒木 啓之，松田 勲，伊原 充博，小林 弘幸，田原 淳一郎, "HTMLの情報処理教育への応用," 第18回高専情報処理教育研究発表会, pp. 70〜73, 1998年8月.', nil,
      '貴家 仁志, 高木 亜有子, 小林 弘幸, "領域再分割のためのMPEG画像へのデータ埋め込み法," 電子情報通信学会 ソサイエティ大会, no.D-11-46, 1998年9月1日.', 'http://ci.nii.ac.jp/naid/110003344420',
      '小林 弘幸, 貴家 仁志, “カラー静止画像への領域再分割情報の埋め込み法,” 電子情報通信学会 ソサイエティ大会, no.A-4-14, 1998年9月1日.', 'http://ci.nii.ac.jp/naid/110003344676',
      '小林 弘幸, 野口 祥宏, 貴家 仁志, "領域再分割のためのJPEG画像へのデータ埋め込み法," 電子情報通信学会 回路とシステム研究会, no.CAS98-6, 1998年6月1日.', 'http://ci.nii.ac.jp/naid/110003279960',
      '小林 弘幸, 貴家 仁志, "オーバサンプルフィルタバンクにおけるチェス盤歪みについて," 電子情報通信学会 ディジタル信号処理シンポジウム, no.A1.1, 1997年11月1日.', nil,
      '小林 弘幸, 貴家 仁志, "チェス盤歪みが発生しないオーバーサンプルフィルタバンクについて," 電子情報通信学会 ソサイエティ大会, no.SA-1-1, 1997年9月1日.', 'http://ci.nii.ac.jp/naid/110003341494',
      '小林 弘幸, 山内 拓也, 貴家 仁志, "任意の遅延量を持つオーバサンプルフィルタバンク," 電子情報通信学会 ソサイエティ大会, no.A-74, 1996年9月1日.', 'http://ci.nii.ac.jp/naid/110003336914',
      '山内 拓也, 小林 弘幸, 貴家 仁志, "低遅延量を持つオーバサンプルフィルタバンクについて," 電子情報通信学会 ディジタル信号処理研究会, no.DSP96-42, 1996年6月1日.', 'http://ci.nii.ac.jp/naid/110003197965',
      '小林 弘幸, 貴家 仁志, "任意の間引き率を持つ完全再構成DFTフィルタバンクとその最小遅延量について," 電子情報通信学会 ディジタル信号処理研究会, no.DSP96-10, 1996年5月1日.', 'http://ci.nii.ac.jp/naid/110003279629',
      '小林 弘幸, 貴家 仁志, "低遅延DFTフィルタバンクの一設計法," 電子情報通信学会 総合大会, no.A-204, 1996年3月1日.', 'http://ci.nii.ac.jp/naid/110003242615',
      '梶田 邦之, 小林 弘幸, 村松 正吾, 山田 昭彦, 貴家 仁志, "Householder分解を用いたオーバサンプルパラユニタリDFTフィルタバンクの一設計法," 電子情報通信学会 ディジタル信号処理研究会, no.DSP95-133, 1995年12月1日.', 'http://ci.nii.ac.jp/naid/110003279788',
      '渡口 和信, 小林 弘幸, 貴家 仁志, "オーバサンプリング完全再構成DFTフィルタバンクを用いたサブバンド適応フィルタ," 電子情報通信学会 ディジタル信号処理研究会, no.DSP95-79, 1995年7月1日.', 'http://ci.nii.ac.jp/naid/110003193341',
      '小林 弘幸, 貴家 仁志, "非最大間引きDFTフィルタバンクに基づく低レートフィルタの実現," 電子情報通信学会 ディジタル信号処理研究会, no.DSP95-46, 1995年6月1日.', 'http://ci.nii.ac.jp/naid/110003198123',
      '小林 弘幸, 貴家 仁志, "非最大間引きフィルタバンクの完全再構成条件," 電子情報通信学会 ディジタル信号処理研究会, no.DSP95-16, 1995年5月1日.', 'http://ci.nii.ac.jp/naid/110003279735',
      '小林 弘幸, 貴家 仁志, "低クロックレートで動作するディジタルフィルタ," 電子情報通信学会 総合大会, no.A-181, 1995年3月1日.', 'http://ci.nii.ac.jp/naid/110003247614',
      '坂根 尚, 小林 弘幸, 貴家 仁志, "FFTを用いたGerchberg-Papoulis反復法の実現," 電子情報通信学会 ディジタル信号処理シンポジウム, no.C7.4, 1994年11月1日.', nil,
      '坂根 尚, 小林 弘幸, 貴家 仁志, "DFT表現に基づく外挿法," 電子情報通信学会 秋季全国大会, no.A-130, 1994年9月1日.', 'http://ci.nii.ac.jp/naid/110005854389',
      '坂根 尚, 小林 弘幸, 貴家 仁志, "DFT表現に基づく周波数領域の復元法," 電子情報通信学会 ディジタル信号処理研究会, no.DSP94-43, 1994年6月1日.', 'http://ci.nii.ac.jp/naid/110003202371',
      '坂根 尚, 小林 弘幸, 貴家 仁志, "有限長データに対する高周波成分の復元法," 電子情報通信学会 春季全国大会, no.A-103, 1994年3月1日.', nil,
      '小林 弘幸, 貴家 仁志, "ハール基底に基づくマルチキャリア伝送," 電子情報通信学会 回路とシステム研究会, no.CAS93-26, 1993年11月1日.', 'http://ci.nii.ac.jp/naid/110003198303',
      'Hiroyuki KOBAYASHI and Hitoshi KIYA, "A Perfect Reconstruction Frequency Division Multiplexer and Its Efficient Implementation," IEICE Digital Signal Processing Symposium, no.J7.3, 1st October, 1993.', nil,
      '小林 弘幸, 貴家 仁志, "直交変換基底を用いたNthバンドフィルタの生成法とその応用," 電子情報通信学会 秋季全国大会, no.A-79, 1993年9月1日.', 'http://jglobal.jst.go.jp/public/20090422/200902183911578726',
      '安久津 幸絵, 小林 弘幸, 貴家 仁志, "直交変換、フィルタバンクおよびウェーブレット変換を用いた解像度変換の一評価法," 電子情報通信学会 ディジタル信号処理研究会, no.DSP93-26, 1993年5月1日.', 'http://ci.nii.ac.jp/naid/110003198256',
      '小林 弘幸, 貴家 仁志, 佐川 雅彦, "フィルタ処理に伴う画像歪の性質とその軽減," 電子情報通信学会 通信方式研究会, no.CS92-80, 1993年1月1日.', 'http://ci.nii.ac.jp/naid/80006894634',
      '貴家 仁志, 八重 光男, 小林 弘幸, 佐川 雅彦, "画像の補間処理におけるひずみの除去," 電子情報通信学会 秋季全国大会, no.A-112, 1992年9月1日.', 'http://jglobal.jst.go.jp/public/20090422/200902019625514040',
      '貴家 仁志, 八重 光男, 小林 弘幸, 佐川 雅彦, "サブバンド符号化と直交符号化の関係," 電子情報通信学会 春季全国大会, no.D-311, 1992年3月1日', nil,
    ],
    other: [
      'Yusuke SEKI, Hiroyuki KOBAYASHI, Masaaki FUJIYOSHI, and Hitoshi KIYA, "A Data Hiding Method without Specifying Embedded Positions for JPEG Image," Electronics and Communications in Japan, Part III, vol.90, no.11, pp.21–30, November 2007. ', 'http://onlinelibrary.wiley.com/doi/10.1002/ecjc.20356/abstract',
      'Hiroyuki KOBAYASHI, Yoshihiro NOGUCHI, and Hitoshi KIYA, "A Method of Embedding Binary Data into JPEG Bitstreams," Systems and Computers in Japan, vol.33, no.1, pp.18–26, January 2002.', 'http://onlinelibrary.wiley.com/doi/10.1002/scj.1096/abstract',
      'Hitoshi KIYA and Hiroyuki KOBAYASHI, "Oversampled Filter Banks Based on Polyphase Submatrices," Electronics and Communications in Japan, Part III, vol.82, no.6, June 1999.', 'http://onlinelibrary.wiley.com/doi/10.1002/(SICI)1520-6440(199906)82:6%3C55::AID-ECJC7%3E3.0.CO;2-N/abstract',
      'Hiroyuki KOBAYASHI and Hitoshi KIYA, "Design of Oversampled DFT Filter Banks with Minimum Delay," Electronics and Communications in Japan, Part III, vol.81, no.1, January 1998.', 'http://onlinelibrary.wiley.com/doi/10.1002/(SICI)1520-6440(199801)81:1%3C71::AID-ECJC7%3E3.0.CO;2-9/abstract',
    ]
  }
%p これまでの研究成果を分類ごとに一覧表示しています。最新のものが上部に表示されています。
= nav_tabs title_hash
#myTabContent.tab-content
  - links_hash.each do |k, v|
    %div{ tab_pane_class(links_hash, k) }
      %h2.h4= title_hash[k]
      %ol
        - v.each_slice(2) do |line|
          - title, url = line
          %li
            = title
            - if url
              %a.btn.btn-warning.btn-xs{ href: url, target: '_blank' } 詳細
