:ruby
  breadcrumbs = %w( Research/index.haml )
  title_hash = {
    imageProcessing: '画像処理関係', educationTools: '教育支援システム開発', Rails: 'データベースシステム開発',
  }
%p 個人の研究は画像符号化ですが、学生の卒業研究ではソフトウェア開発もやっています。
= nav_tabs title_hash
#myTabContent.tab-content
  - title_hash.each do |k, v|
    %div{ tab_pane_class(title_hash, k) }
      %h2.h4= title_hash[k]
      - case k
      - when :imageProcessing
        %p
          首都大学東京システムデザインの貴家教授と共同研究をしています
          - u, n = link_outer_url_name 'kiya_lab', @objs['outer_link_button_class']
          %a{ u }= n
          。
        %ul
          %li HDR 画像の符号化に関する研究
          %li 符号化画像の同定に関する研究
          %li 画像の暗号化通信に関する研究
          %li etc...

      - when :educationTools
        %p
          学生の卒業研究において、様々な教育支援システムを開発しています
        %ul
          %li 電磁気初学者のためのタブレットアプリの開発 (H27〜)
          %Li インタラクティブに動作する電気回路教材Web アプリケーションの開発 (H26)
          %li マルチタッチで回路入力を行う回路シミュレータの開発 (H23, H24)
      - when :Rails
        %p
          学生の卒業研究・ゼミナールにおいて、様々なデータベースシステムを開発しています
        %ul
          %li 校務支援システムの改修に関する研究 (H27)
          %li 卒業アルバムのための写真収集アプリに関する研究 (H27)
          %li 複数人で共同編集可能なマインドマップ Web アプリの開発 (H24,H25)
          %li 複数人で共有可能なホワイトボード Web アプリの開発 (H22)
