:ruby
  breadcrumbs = %w( Mac/index.haml Mac/System/index.haml )
  title_hash = {
    description: '説明', automator: 'Automator の設定', how_to_use: '使い方'
  }
= nav_tabs title_hash
#myTabContent.tab-content
  - title_hash.keys.each do |k|
    %div{ tab_pane_class(title_hash, k) }
      %h2.h4= title_hash[k]
      -case k
      - when :description
        %p
          Mac は pdf がネイティブに使用できるため、LaTeX する場合、図は pdf を差し込むことが多いです(eps を使うのは、学会の投稿論文を出す時くらい)。
          これは、dvipdfmx で pdf を作成するときに無駄な変換作業をさせないためです。
          ただ、唯一のネックは bounding box 情報を別途用意しなければならない点です。
          MacTeX 2015 からはコンパイル時にバックグラウンドで extractbb を実行するようになったので、数枚の図を貼り込むだけであればこれで十分です。
          しかし、画像ファイルが大量に存在する場合、画像それぞれに対して毎回 extractbb が走るためコンパイル時間が増大します。
          図を追加・修正する頻度とコンパイルの頻度を比較すると、圧倒的に後者の方が多いので、図を書き出しては bounding box を作成するという作業を行っています。
        %p
          bounding box を作成する作業は、ターミナルで extractbb ファイル名.pdf のように打ち込むだけです。
          ただ、これだけの作業のためにターミナルを立ち上げるのも大変ですし、周りには UNIX を使い慣れない人も多くいます。
          そこで、これを簡単に実行することができる Automator アプリを作成しました。
      - when :automator
        %ul
          %li Automator で新規アプリケーションを作成します
          %li 図のようにアクションを並べます。
          .col-md-12
            %img{ image_url_alt('automatorMakexbb.png') }
          %li /Applications フォルダに makexbb として保存します
          %li Command-I(情報を見る)でアイコンに適当な画像をコピーします
          %li 保存した makexbb を図のように Finder のツールバーに設置します(設置する時にはCommand と option を同時押しします)
          .col-md-12
            %img{ image_url_alt('finderXbb.png') }
      - when :how_to_use
        %ul
          %li .xbb ファイルを作成したい pdf ファイルなどを Finder で選択します
          %li 選択した状態で makexbb アイコンをクリックします
          %Li 画像と同じフォルダに *.xbb ファイルが自動的に作成されます
