:ruby
  title_hash = {
    description: '説明', edit: '設定例(サイネージ端末管理)', how_to_use: '使い方'
  }
= nav_tabs title_hash
#myTabContent.tab-content
  - title_hash.keys.each do |k|
    %div{ tab_pane_class(title_hash, k) }
      %h2.h4= title_hash[k]
      -case k
      - when :description
        %p
          iPhone で使っていた vSSH を iPad でも購入しました。
          vSSH の特徴は以下の通りです。
          %ul
            %li 接続設定、マクロ設定、鍵は iCloud で共有可能
            %li カーソル移動、スクロールは画面ジェスチャで指示可能
            %li ターミナル接続でよく利用する ESC, TAB, CTRL, SHIFT, 各種記号をキーボードの上部に別途用意
        %p
          このアプリは単体販売以外に SSH Control というアプリとのバンドル販売もありました。
          単体ごとに買うよりも少し安くなること、名前が面白そうだということで今回はバンドル版を購入してみました。
          その後、調べてみると ssh を使ってサーバなどを簡単にコントロールできるアプリでした。
          今回は、サイネージ端末管理に使った例を説明したいと思います。
      - when :edit
        %p
          現在、品川キャンパスのサイネージは
          - u, n = link_url_name('2016/05/20/signage.haml', @objs['inline_button_class'])
          %a{ u }= n
          で説明したように、一部 Raspberry pi で運用しています。
          このマシンは省電力化のために授業中は cron でテレビの電源をオフにしています。
          このため、授業中にサイネージを確認したい時には、Raspberry pi にリモートログインして tvon.sh というスクリプトを実行する必要があります。
          結局面倒なので、休み時間まで確認をスキップすることも多かったです。
          今回、この SSH Control でテレビのオン・オフをコントロールしてみたいと思います。
          以下、手順を示します。
        %ul
          %li SSH Control を立ち上げます
          %li Remote controls で「+」をタップします
          %li 今回はサイネージ管理であるため、「サイネージ」というタイトルを付けます
          %li 右上の「Edit」をタップします
          %li 右下の「+」をタップすると図1 のような画面が表示されます
          %li Host では接続するサイネージサーバを追加します。vSSH で設定済であれば選択するだけです
          %li Label では文字列を追加できます
          %li Button ではサーバでコマンドを実行できるボタンを追加できます
          %li Switch Button ではオン・オフ時にそれぞれコマンドを実行できるボタンを追加できます。また、現状状態をステータス確認します。
          %li 図2 はButton の設定画面です。
          %dl.dl-horizontal
            %dt Host
            %dd 接続するサーバを選びます
            %dt Title
            %dd ボタンに表示する名前を記述します
            %dt Action
            %dd サーバで実行するコマンドを記述します。ここではテレビをオンするコマンドである ./tvon.sh を設定しています
            %dt Success output
            %dd コマンドが成功したときの出力です。今回は何も出ないので空白にしています
          %li 図3 は編集が終わった後の画面です。3台のサイネージ端末のそれぞれにテレビオン・オフのボタンを設定しました
        = sub_figures %w( sshControlAddItem.png sshControlEditButton.png sshControlEdit.png ), 1
      - when :how_to_use
        %ul
          %li 最終的なコントロール画面は図4のようになります
          %li 学内 Wifi に接続し、サーバへのアクセスが確認できると下のアクセスランプが緑に変わります。
          %li サーバ接続ができる状況で TV on、TV off のボタンを押すことで、サイネージ端末のテレビオン・オフの切り替えができるようになります。
        = sub_figures %w( sshControl.png - - ), 4
