:ruby
  title_hash = {
    description: '説明', working_copy: 'Working Copy', textastic: 'Textastic', writing_commit: '記述とコミット'
  }
= nav_tabs title_hash
#myTabContent.tab-content
  - title_hash.keys.each do |k|
    %div{ tab_pane_class(title_hash, k) }
      %h2.h4= title_hash[k]
      -case k
      - when :description
        %p
          iPhone でも Git リポジトリの管理をしたくて、Working Copy というアプリを導入しました。
          また、テキスト編集のために Textastic というアプリと連継できると知ったので、同時に導入しました。
        %p
          せっかくなので、このページをすべてこの組合せで書いて見たいと思います。
          ここから先のページは、箇条書きで記述したいと思います。
      - when :working_copy
        %ul
          %li 図1はすでに設定済のリポジトリ一覧画面です。このページのリポジトリである hkob_public_html リポジトリが表示されています
          %li リポジトリ内の contents/haml/2016/01/05 に移動します。今日書いた sshControl.haml がありました
          %li 新しいテキストを追加したいので、右上の「+」をタップします
          %li 図2のダイアログが出るので、「Create text file」をタップします
          %li 作成すると図3のようにファイルが一つ追加されます
          %li Working Copy での作業はひとまず終了です。
        = sub_figures %w( wct_show_repositories.png wct_create_new_text.png wct_just_created.png ), 1
      - when :textastic
        %ul
          %li Textastic で Open... をタップすると図4のようなダイアログが開きます。ここでは iCloud だけでなく、Working Copy の展開したフォルダ内のファイルも編集できます。毎回このように開くのは面倒なので、Textastic にフォルダを pick しておきます
          %li 先ほどファイルを作成したフォルダに移動すると図5のような画面になるので Pick をタップします
          %li Pick をした後は図6のような画面になります
        = sub_figures %w( wct_textastic.png wct_textastic_pick.png wct_textastic_after_pick.png ), 4
      - when :writing_commit
        %ul
          %li 図7 は実際に haml を執筆している画面です。Stack の入力画面の上に記号類のキーボードがあるのがわかると思います
          %li 記述が終わったら、Working Copyに戻り、図1の master をタップすると図8のダイアログが表示されます。ここで commit をタップします
          %li 図9の画面が出るのでコミット理由を記述して、右上のCommit + Push をタップして終了です
          %li 正しく設定できたかの確認は iPhone 上ではできないので、コミットして web で確認します
        = sub_figures %w( wct_textastic_writing.png wct_commit.png wct_commit_detail.png ), 7
