:ruby
  breadcrumbs = %w( Mac/index.haml Mac/System/index.haml )
  title_hash = {
    description: '説明', create_repository: 'リポジトリの作成', setup_source: 'ソースコードの配置', build_settings: 'ビルドの設定', build_and_deploy: 'ビルドとデプロイ'
  }
= nav_tabs title_hash
#myTabContent.tab-content
  - title_hash.keys.each do |k|
    %div{ tab_pane_class(title_hash, k) }
      %h2.h4= title_hash[k]
      - case k
      - when :description
        %p
          画像符号化の研究をしていますが、最近の符号化はあまりに複雑すぎて自分で一からコードを書くことはほとんどありません。
          基本的には既存の符号化コードに自分たちのアイデアを追加して、その結果を論文として発表することになります。
          このようなことができるように、国際規格のほとんどはリファレンスコードを配布しています。
        %p
          このようなリファレンスコードは基本
          = include_oneliner "./configure; make"
          とすれば自動的に実行ファイルができるようになっています。
          ただし、これでは検証コードなどのデバッグなどが面倒なので、Xcode でコンパイル・デバッグがやりたいです。
        %p
          ここでは、
          - u, n = link_outer_url_name 'jpeg_xt_reference_code', @objs['outer_link_button_class']
          %a{ u }= n
          を例として、Xcode でビルドする方法を示します。
      - when :create_repository
        %ul
          %li
            - u, n = link_outer_url_name 'jpeg_xt_reference_code', @objs['outer_link_button_class']
            %a{ u }= n
            から JPEG XT というソースコードを入手します。
          %li Xcode で新規プロジェクトを作成します(執筆時のバージョンは 7.3.1 です)。
          %li 「OS X」→「Application」の中の「Command Line Tool」を選択し、「Next」を押します。
          %li options は以下のように設定し、Next を押します。
          %dl
            %dt Product Name:
            %dd jpeg_xt とします。
            %dt Organization Name:
            %dd 自分の名前(Hiroyuki KOBAYASHI)を入れます。
            %dt Organization Identifier:
            %dd 所属名を入れます。所属を一意に決定できるように通常はドメイン名から逆順に入れます。私の場合は、「jp.ac.metro-cit.hkob」としました。
            %dt Language:
            %dd リファレンスコードは C++ で書いてあるので、「C++」にします。
          %li ファイルを保存する場所を設定します。ソースは Git で管理するので、一番下の「Create Git repository on 」のところにチェックを入れたままにします。
          %li すでに main.cpp ファイルがありますが、邪魔なので消します。
          %li SourceTree でこのリポジトリを読み込みます。
          %li SourceTree から端末を開きます。
          %li
            リポジトリのトップにいることを確認して、以下のコマンドで .gitignore を作成します。
            = include_oneliner "gibo OSX Xcode Vim > .gitignore"
          %li SourceTree で .gitignore の追加、main.m の削除等が反映していることを確認し、コミットしておきます。
          %li リポジトリの準備はここまでです。
      - when :setup_source
        %ul
          %li
            以下のコマンドで、jpeg_xt リポジトリ内の jpeg_xt フォルダに移動します。
            = include_oneliner "cd jpeg_xt"
          %li
            Download フォルダに存在するリファレンスコードから必要なファイルだけをコピーします。
            = include_oneliner "cp -pr ~/Downloads/jpeg_xt_libjpeg_151_src/{boxes,cmd,codestream,coding,colortrafo,control,dct,interface,io,marker,std,tools,upsampling,config.h} ."
          %li
            コピーしたフォルダ内には Makefile がありますが、これらをビルドで使いたくないので、消しておきます。
            = include_oneliner "rm */Makefile"
          %li Xcode を開き、黄色の jpeg_xt のグループ上で、右ボタンを押し、「Add files to "jpeg xt"...」をクリックします
          %li 先ほどコピーしたフォルダと config.h が見えるので、すべてを選択し Add を押します。
          %li これでファイルの配置は終わりです。
      - when :build_settings
        %ul
          %li このままだとコンパイルできないので、ビルドの設定を変更します。
          %li Project Navigator で一番上の jpeg_xt をクリックします。
          %li PROJECT で jpeg_xt をクリックします。
          %li Build Settings をクリックします。
          %li その下の All をクリックします。
          %li 検索窓に「Header」と入力します。
          %li Search Paths の中の Header Search Paths をクリックし、「+」をクリックします。
          %li 「リポジトリフォルダ/jpeg_xt」と入力し、「recursive」を選びます。
          %li 検索窓に「Installation」と入力します
          %li Deployment の Installation Directory にて、「$HOME/bin」を入力します(私の場合、自分が作成したものは ~/bin に入れることにしているためです)。
          %li 以上でビルド設定は終わりです。
      - when :build_and_deploy
        %ul
          %li 最初のビルド
          %ul
            %li Xcode 上でのビルドおよび実行は左上の再生ボタンで行えます。
            %li 当然ながら Xcode 上でデバッグもできます
            %li コンパイルできる状態になったら、SourceTree を開きコミットをします。
            %li この段階でリポジトリに「base_jpeg_xt」というタグを打ちます。
          %li パッチ当てとデプロイ
          %ul
            %li このソースにパッチを作成する時には、ブランチを切ります。
            %li ここからは好きにコードを書き換えて大丈夫です。どんどんコミットしていきます。
            %li
              パッチ等が作成できた際には、実行ファイルを作成して matlab などから呼び出すことが必要になります。この時にはリポジトリのトップで以下のようにしてデプロイします。
              = include_oneliner "xcodebuild DSTROOT=/ install -target jpeg_xt"
            %li 問題がなければ、~/bin の下に jpeg_xt が作成できているはずです。
            %li ここで作成したバイナリを matlab や rake 等から繰り返し実行することでシミュレーション結果を作成します。
          %li 別のパッチ当て
          %ul
            %li 最初のパッチとは独立な別のパッチを当てたくなったら、SourceTree で base_jpeg_xt のタグをクリックします。すると、最初にあてたパッチはすべて消えて、jpeg_xt のデフォルト状態に戻ります。
            %li ここで新たにブランチを切り、そこからコードを更新し、コミットしていきます。
            %li このようにしてブランチを切り替えることで、さまざまなシミュレーションを単一のフォルダ内で検討することができます。
            %li 両方のパッチが必要になった場合には、再度ブランチを切って、ブランチ同士をマージすることも可能です。
        %p
          これまでは、似たようなソースファイルがあちこちに散乱する非常に無駄なことをやっていましたが、最近は Git を使うことでシミュレーションプログラムの管理が非常に簡単になりました。
          シミュレーションのプログラムが管理しきれなくなっている方は参考にしていただければと思います。
