:ruby
  breadcrumbs = %w( Mac/index.haml Mac/System/index.haml )
  title_hash = {
    description: '説明', site_yml: '設定ファイル', example: '記述例', exec: 'ページ作成方法', api: '利用可能な API', attachment: '(参考) スクリプト等'
  }
= nav_tabs title_hash
#myTabContent.tab-content
  - title_hash.keys.each do |k|
    %div{ tab_pane_class(title_hash, k) }
      %h2.h4= title_hash[k]
      - case k
      - when :description
        %p
          現在見てもらっているように研究室の Web ページを公開できるようになりました。
          しかし、このサーバはセキュリティ強化のため、サーバサイドでプログラムを動作させることができません
          しかし、今さら html を直に書くのは嫌ですし、こんなことに時間を使いたくはありません。

        %p
          そこで、Rails で便利に使っている haml を使うだけでなく、面倒なパスの管理をしなくてよいようにシステムを作成しました。
          システムの基本概念は Rails と同じ「設定より規約」です。
        %p
          Rails と同様にフォルダの構成に意味を持たせています。
          以下にシステムのファイル構成を示します。
        %ul
          %li site.yml: 共通設定を記述する yaml ファイル
          %Li Rakefile: haml から html を作成するためのルールが記載されたファイル
          %li Gemfile: haml を使うための設定ファイル
          %li make_haml.rb: haml の部分テンプレートから完全な haml を作成するプログラム
          %li my_func.rb: make_haml.rb の中で利用されるメソッド群
          %li contents/haml/: haml の部分テンプレートを保存するフォルダ
          %li contents/haml/images: ページからリンクされる画像を置くフォルダ
          %li contents/html/: haml から自動生成された html ファイルが置かれるフォルダ(rake で自動生成される)
          %li contents/html/images: contents/haml/images へのショートカット(rake で自動生成される)
          %li sources/: html に挿入するプログラムを保存するフォルダ
          %li partials/: どのページでも共通に利用できる haml が保存されたフォルダ
        %p
          最近ページの更新が止まっていました。
          理由は内容のフォルダ分けに悩んでいたことでした。
          そこで、フォルダで分ける従来のやり方を変えて、タグシステムに変更しました。
      - when :site_yml
        %p
          このシステムで共通に利用する項目は site.yml で定義することにしました。
          参考までにこのページの下部に現在の site.yml の内容を記述しておきます。
          以下、ブロックごとに説明します。
        %ul
          %li A. site_name でサイト名を設定します
          %li B. CSS と Javascript を記述します。テーマを変えたかったり、version up などに対応するためです。自分で持つと管理が面倒なので、すべて CDN を利用しています。プログラムソースを見やすく表示するために highlight も使っています
          %li C. リンクなどの表示を統一するために、ここで class を定義しています。ここを変えればすべてのページの見た目が変わります。
          %li D. 内部リンクのハッシュです。haml の名前をキーとして、リンク名が name で引けるようにします。リンクはすべてこのキーを使い、相対パスなどは自動的に計算します
          %li E. 外部リンクのハッシュです。リンク集に載せる場合には、desc で説明文も書きます。ページ内でのリンクには desc は必要ありません。
          %li F. 画像のリンクです。画像は複数ページからのリンクもありえるので、階層構造にはせず、images に置くことにしました。これも相対パスはシステムが計算します。alt を付け忘れることが多いので、設定ファイルに記述するようになっています。
        %hr
        %h5 参考資料 (site.yml の中身)
        = include_source 'site.yml', :yaml
      - when :example
        %p
          実際に記述例として、今見ているページの部分 haml を掲載します。
          以下では主な記述法について解説します。
          各 API (メソッド) については、「利用可能な API」のタグを見てください。
        %ul
          %li
            最初に :ruby フィルタを設置しています。
            ここでは、ページ内で利用する変数などを定義します。
            当然、- を使えば Ruby 式は書けますが、複数行にわたる hash の記述などが自由にできるので採用しています。
          %li
            nav_tab API は引数の title_hash を使ってナビゲーションタブを描画してくれます
            title_hash の key がリンク ID となり、value がナビゲーションタブのタイトルになります。
          %li tab-content の下に、各ナビゲーションのコンテンツが記述されます。
          %li コンテンツは title_hash のキーでループし、複数の tab_pane を描画します。
          %li
            tab_pane ごとに内容が異なるので、title_hash の key を case で分類して描画します。
            ユーザからみれば、「:description に書く内容はこの下に書いてある」という意識になるので、わかりやすいかと思います。
          %li
            include_source は別途 sources フォルダ内の特定の場所からファイルを読み込み、ソースファイルとして描画します。
            第 2 引数で書類の形式を指定することで形式にあったハイライトが行われます。
          %li
            link_outer_url_name は外部リンクを描画するための属性と名前を取得するメソッドです。
            取得した属性と名前を %a メソッドで描画します。
        %hr
        %h5 参考資料 (contents/haml/Mac/create_web_site.haml の中身)
        = include_source 'create_web_site.haml', :haml
      - when :exec
        %p
          システムの使い方を説明します
        %ul
          %li 前準備
          %ul
            %li
              まず Ruby が使えることが必要です。
              Ruby はインストールしてください。
            %li
              gem で bundler をインストールしてください。
              = include_oneliner 'gem install bundler'
            %li
              以下のコマンドで haml を vendor/bundle にインストールします
              = include_oneliner 'bundle install --path vendor/bundle'
          %li 編集過程
          %ul
            %li contents/haml/ の下に部分 haml を記述します。
            %li この下の haml フォルダに対応した html が contents/html の下に自動的に保管されます
            %li
              haml フォルダの下では、フォルダを階層構造にしても構いません。
              html フォルダの下も同じ階層になります。
          %li HTML 変換
          %ul
            %li
              html の作成を以下のコマンドで実行します。
              =include_oneliner 'rake'
            %li
              前回実行した後に追加・変更された haml のみ、html に変更されます。
          %li 継続的インテグレーション
          %ul
            %li
              システム自体は git で管理し、リポジトリを Bitbucket にて管理しています。
              - u, n = link_outer_url_name 'hkob_public_html', @objs['outer_inline_button_class']
              %a{ u }= n
            %li
              このリポジトリに push することで、学内に設置した Jenkins が発動し、自動的に Web サイトのデータを更新してくれます
      - when :api
        部分 haml の中で利用できる API (メソッド) を紹介します
        %hr
        %dl
          %dt u, n = link_url(haml_url, options = {})
          %dd
            %ul
              %li 内部リンクのための属性と名称を取得します
              %li
                引数 haml_url(string): site.yml に記述した内部リンクの url。
                contents/haml からの相対パスで記述します。
              %li
                引数 options(hash: 省略可): 追加する属性。
                例えば、@objs['menu_button_class'] を追加するとボタンになります。
              %li
                返り値 u: %a タグに引き渡す hash を返します。
                u[:href] には現在のページから対応する html ファイルへの相対パスが自動的に設定されます。
              %li
                返り値 n: %a に渡すリンク名を site.yml から取得し返します。
              %li
                利用条件: site.yml に url が登録されていること。
              %li
                サンプル
                = include_oneliner %Q(- u, n = link_url_name 'Mac/create_web_site.haml', @objs['menu_bunnton_class']\n%a{ u }= n)
          %dt u, n = link_outer_url_name(key, option = {})
          %dd
            %ul
              %li 外部リンクのための属性と名称を取得します
              %li
                引数 key(string): site.yml に記述した外部リンクの key。
              %li
                引数 options(hash: 省略可): 追加する属性。
                例えば、@objs['outer_inline_button_class'] を追加すると小さなボタンになります。
              %li
                返り値 u: %a タグに引き渡す hash を返します。
                u[:href] には site.yml に記述された外部リンクの URL が設定されます。
              %li
                返り値 n: %a に渡すリンク名を site.yml から取得し返します。
              %li
                利用条件: site.yml に key が登録されていること。
              %li
                サンプル
                = include_oneliner %Q(- u, n = link_outer_url_name 'hkob_public_html', @objs['outer_inline_button_class']\n%a{ u }= n)
          %dt u = image_url_alt(imageName, option = {})
          %dd
            %ul
              %li 画像表示のための属性を取得します
              %li
                引数 imageName(string): site.yml に記述した画像名。
              %li
                引数 options(hash: 省略可): 追加する属性。
              %li
                返り値 u: %img タグに引き渡す hash を返します。
                u[:src] には html/images に置かれた画像への相対パスが設定されます。
                u[:alt] には site.yml に書かれた alt 文字列が設定されます。
              %li
                返り値 n: %a に渡すリンク名を site.yml から取得し返します。
              %li
                利用条件: site.yml に imageName が登録されていること。
              %li
                サンプル
                = include_oneliner "%img{ image_url_alt('automatorMakexbb.png') }"
          %dt include_haml(haml, locals = {})
          %dd
            %ul
              %li 共通で利用する haml を挿入します
              %li
                引数 haml(string): partials の下に置いたファイル名
              %li
                引数 locals(hash: 省略可): haml の中で参照したい変数
              %li 返り値 なし
              %li
                利用条件: partials フォルダ内に haml が保存されていること。
              %li
                サンプル
                = include_oneliner "= include_haml 'nav-tabs', title_hash: hash"
          %dt include_source(source, type = :ruby)
          %dd
            %ul
              %li プログラムソースファイルをハイライト付きで挿入します
              %li
                引数 source(string): partials の下に置いたファイル名
              %li
                引数 type(symbol or string, 省略可): プログラムタイプ(デフォルトは :ruby)
              %li 返り値 なし
              %li
                利用条件: aaa/bbb.html ファイルを編集している場合、sources/aaa/bbb/フォルダ内にファイルが保存されていること(以下の例では Mac/create_web_site/site.yml が保存されていること)
              %li
                サンプル(Mac/create_web_site.haml に記述した場合)
                = include_oneliner "= include_source 'site.yml', :yaml"
          %dt include_oneliner(oneline, type = :bash)
          %dd
            %ul
              %li コマンドライン入力などをハイライト付きで挿入します
              %li
                引数 source(string): partials の下に置いたファイル名
              %li
                引数 type(symbol or string, 省略可): プログラムタイプ(デフォルトは :bash)
              %li 返り値 なし
              %li
                サンプル
                = include_oneliner "= include_oneliner 'gem install bundler'"
      - when :attachment
        %ul
          %li Gemfile
          = include_source 'Gemfile', :ruby
          %li Rakefile
          = include_source 'Rakefile', :ruby
          %li make_haml.rb
          = include_source 'make_haml.rb', :ruby
          %li my_func.rb
          = include_source 'my_func.rb', :ruby
