:ruby
  title_hash = {
    description: '説明', install: 'インストール', rails: 'Rails の修正', setting: '証明書の取得と設定', update: '更新手続き', conclusion: 'まとめ'
  }
= nav_tabs title_hash
#myTabContent.tab-content
  - title_hash.keys.each do |k|
    %div{ tab_pane_class(title_hash, k) }
      %h2.h4= title_hash[k]
      - case k
      - when :description
        %p
          Redmine を VPS 上に建てたいと考えたが、認証が絡むので SSL サーバにしたい。
          通常証明書を取得するにはかなりのお金がかかるので、今回は Let's Encrypt で無料の証明書を作成する。
          Let's Encrypt ではサーバ証明書だけしか作成できないが、無料で作成できる。
          その代わり、証明書の期間は3ヶ月と非常に短い。
          これは、証明書の漏えいなどの対策だけでなく、面倒な手続きをあえて自動化させることも目的としているようだ。

          今回も記録のためにメモ書きしておく。
      - when :install
        %ul
          %li
            インストールは非常に簡単で、以下のように curl で取得するだけである。
            = include_oneliner 'sudo curl https://dl.eff.org/certbot-auto -o /usr/local/bin/certbot-auto'
          %li
            実行属性をつけておく。
            = include_oneliner 'sudo chmod +x /usr/local/bin/certbot-auto'
      - when :rails
        %p
          通常の静的Webサーバであれば、特に問題ないのだが、今回設定する二つのサービスは両方とも Rails のサーバである。
          Let's Encrypt の仕組みとして、サーバに特別なファイルを設置し、それを Web アクセスできることでサーバの存在を確認する。
          Rails サーバの場合には、それらのアクセスを Rails 側で処理してしまい、正しい応答がされず、サーバの認証ができずに失敗してしまう。
          以下では、その対策を記録しておく。
        %ul
          %li
            Let's Encrypt はWeb サーバのルートディレクトリ以下の .well_known というフォルダの下にファイルを設置する。そこで、以下のようにその場所だけ特殊処理をするように Nginx の conf.d/サービス名.conf の中に記述する。
            = include_source 'service.conf'
          %li
            Nginx を再起動する。
            = include_oneliner 'sudo service nginx restart'
          %li
            テストのために、適当な html ファイルを a.html として保存し、.well_known/a.html としてアクセスし、中身が表示されることを確認する。
          %li
            アクセスが確認できたら、a.html は消しておく。これで準備は完了である。
      - when :setting
        %ul
          %li
            証明書の取得はインストールしたコマンドを入力するだけである。
            = include_oneliner 'certbot-auto certonly --webroot -w /var/www/ssl-proof/rancher -d ドメイン名 --email 証明書失効を連絡するメールアドレス'
          %li
            最初の一回目はパッケージの追加インストールがある。あとは必要に応じて、Agree, Yes を選択すればよい。
          %li
            正しく成功したら、/etc/letsencrypt/live/ドメイン名/の下に、README, cert.pem, chain.pem, fullchain.pem, privkey.pem が作成されているはずである。
          %li
            後はこれらをサービス名.conf に記載すればよい。せっかくなので、http でアクセスされた場合には、https に書き換える処理も追記しておく。
            = include_source 'service2.conf'
          %li
            Nginx を再起動する。
            = include_oneliner 'sudo service nginx restart'
          %li
            https でアクセスし、ブラウザで鍵マークがついていることを確認する。
          %li
            鍵マークをクリックし、インストールされた証明書を確認する。
          %li
            同サイトを http でアクセスし、https に書き換えられていることを確認する。

      - when :update
        %p
          certbot-auto は証明書の更新処理も自動で実施してくれる。
          Nginx に設定した /etc/letsencrypt/live/ に書かれたファイルは全て実際の署名書へのシンボリックリンクとなっているため、証明書が変更されても nginx の設定ファイルは書き換える必要はないようにされている。
        %ul
          %li
            certbot-auto を crontab で実行する。renew コマンドは証明書が切れる1ヶ月前に自動的に更新してくれるとのこと。
            毎日やってもいいが、ミスった時が怖いので日曜日の朝に実行するようにした。
            service で nginx を再起動するため、root の crontab に設定している。
            = include_oneliner '50 3 * * 0 /usr/local/bin/certbot-auto renew --post-hook "service nginx restart" 1 > /dev/null 2 > /dev/null'
      - when :conclusion
        %p
          証明書のインストールもあっという間に終了した。
          本当に便利な時代になったものだ。
          仕組み上イントラネットのサーバでは不可能だが、今回のような公開サーバであれば、積極的に SSL 化した方がよい気がした。

