:ruby
  breadcrumbs = %w( Mac/index.haml Mac/System/index.haml )
  title_hash = {
    description: '説明', prepare: '事前準備', ansible: 'ansible 基本部分', init: 'roles/init', proxy: 'roles/proxy', packages: 'roles/packages', signages: 'roles/signages', exec: 'ansible 実行・後処理'
  }
= nav_tabs title_hash
#myTabContent.tab-content
  - title_hash.keys.each do |k|
    %div{ tab_pane_class(title_hash, k) }
      %h2.h4= title_hash[k]
      - case k
      - when :description
        %p
          平成23年に設置したサイネージ端末があちこちで故障しております。
          品川ではすでに 7 台中 3 台が動作していません。
          一度、ミニ PC やスティック PC で代替を用意しましたが、安いものは Windows が Home エディションのためリモートから作業できず非常に面倒でした
        %p
          ちょうど 3 台目が故障した時にふと手元にあった Raspberry pi model B+ が目にとまり、ちょっと手を加えただけで十分サイネージ端末として稼働可能だったので、管理課にお願いして新規に 3 台購入してもらいました。
        %p
          せっかく Linux でシステムを組むのであれば、手作業をするのはあまりに莫迦らしいので ansible を設定して、かなりの部分を自動化しました。
          ここに記録として残しておきます。
          なお、このシステムの仕様は以下の通りです。
        %ul
          %li サイネージは校務支援システムの特定のページをブラウザで表示することで表示されます
          %li 校務支援システムのこのページは、10 秒単位でページの中身が切り替わるようになっています
          %li さらにページには 10 秒後に同じページにリダイレクトするように仕組んであり、ブラウザは再度同じページを表示するようになっています(10 秒経っているので、先ほどとは別のページが表示されることになります)
          %li Raspberry pi の Chromium にある kiosk モードを利用し、メニューなどを消した状態で中身のみを表示します
          %li Raspberry pi には HDMI の電源を制御するコマンドがデフォルトで用意されているので、これでテレビ信号のオン・オフを実行します
          %li ディスプレイ側で HDMI の信号が入っていないときに、スリープモードに入るように設定します
          %li cron で休み時間を含むように画面の描画時刻を設定します
        %p
          (平成28年12月追記)
          Raspberry pi の SD カードが死んでしまったのを受けて、Rasbian Jessie を 2016-11-25 に上げました。
          また、tmpfs の活用領域を増やすことで、SD カードへの書き込み量の削減を目指します。
          今回の変更分は[H28/12変更]と書いておきます。
      - when :prepare
        %ul
          %li
            - u, n, d = link_outer_url_name 'raspbian', @objs['outer_link_button_class']
            %a{ u }= n
            のページで「Raspbian Jessie」をダウンロードします(平成28年12月の時点でRaspbian Jessie は 2016-11-25 に上がっていました)
          %li Micro SD カードをカードリーダに差し込みます
          %li 次のコマンドでディスクを確認します。以下の例では /dev/disk3 だったとしてコマンドを記述します
          = include_oneliner 'diskutil list'
          %li Finder から取り出すと /dev/disk3 も消えてしまうので、次のコマンドで unmount します
          = include_oneliner 'sudo diskutil unmountDisk /dev/disk3'
          %li dd コマンドでイメージを Micro SD カードに書き込みます[H28/12変更]
          = include_oneliner 'sudo dd bs=1m if=Downloads/2016-11-25-raspbian-jessie.img of=/dev/disk3'
          %li Raspberry pi に Micro SD カードを挿し、起動します
          %li
            %del
              DHCP で IP が取得されてしまっているので、/etc/dhcpcd.conf に以下の行を追加します
            (毎回面倒なので、DHCP サーバで IP を固定化するようにしました。このためこの処理はなくなりました。)
          = include_source 'dhcpcd.conf', :bash
          %li Preferencesから「RaspberryPiConfiguration」を開き、以下の設定を修正します
          %ul
            %li System - FileSystem - Expand FileSystem を実行します
            %li System - Interface - SSH を Enable にします[H28/12変更]
            %li System - Password - Change Password でパスワードを変更しておきます
            %li Localization - Locale - Set Locale で ja - JP - UTF8 を選択します(これだけは CUI で設定してもうまくいかなかったので、ここで設定します)
          %li
            ここで再起動します。
            %del
              日本語フォントが入っていないので、文字化けしますがもうここでは作業しないので無視します
            (2016-11-25 では文字化けしませんでした)
          %li 手元のマシンの id_rsa.pub をクリップボードにコピーしておきます
          = include_oneliner 'cat ~/.ssh/id_rsa.pub | pbcopy'
          %li 手元のマシンから ssh pi@IPアドレスとしてログインします
          %Li 以下のコマンドで公開鍵を登録します
          = include_source 'authorized_keys', :bash
          %li 以上の作業を 3 台分仕掛けます
      - when :ansible
        %ul
          %li ここから先は自動化のための ansible の記述内容になります。多くなるので基本部分と、各 role ごとに説明を分けます
          %li これは ansible.cfg です
          %ul
            %li hosts のファイル名を hosts としています
            %li nowcows で牛表示をしないように設定しています
          = include_source 'ansible.cfg', :yaml
          %li これは hosts ファイルです
          %ul
            %li グループ名は仮に signages と付けていますが、今回は特に使っていません。
            %li ansible_ssh_user で ssh のログイン名をデフォルトの pi にしています
          = include_source 'hosts', :yaml
          %li これは site.yml です
          %ul
            %li hosts は all としているので、上記 3 台全部に一度に適用します
            %li becomes を yes としているため、すべての作業は sudo をした上で作業します(本来は sudo が必要なタスクのみ設定すればよいのですが、サイネージ専用端末とするため今回は楽してしまいました)
            %li この playbook では 4 つの role を定義しています
            %li 各ロールは tags にて制御できます。これは問題が起こったときにその role だけを実施できるようにするためです
          = include_source 'site.yml', :yaml
      - when :init
        %ul
          %li init ロールの説明をします。これらは roles/init の下に配置されています
          %li roles/init/tasks/main.yml です
          %ul
            %li lineinfile にて locale の ja_JP.UTF-8 を有効にしています。ただし、これだけではうまくいかなかったため、RaspberryPiConfiguration で設定していました。
            %li locale が変わったときだけ dpkg-reconfigure を実行します
            %li templates からコピーすることで、timezone を変更します
            %li timezone が変わったときだけ dpkg-reconfigure を実行します
            %li /etc/rsyslog.conf でほとんど log を出力しないように変更します[H28/12変更]
            %li /etc/rc.local で /var/log の下に必要なディレクトリを作成するように変更します[H28/12変更]
            %li /tmp, /var/tmp を RAM disk に変更します
            %li /var/log も RAM disk に変更します[H28/12変更]
          = include_source 'roles/init/tasks/main.yml', :yaml
          %li roles/init/templates/timezone.j2 です
          = include_oneliner 'Asia/Tokyo'
          %li roles/init/files/rsyslog.conf です
          = include_source 'roles/init/files/rsyslog.conf', :bash
          %li roles/init/files/rc.local です
          = include_source 'roles/init/files/rc.local', :bash
      - when :proxy
        %ul
          %li proxy ロールの説明をします。これらは roles/proxy の下に配置されています
          %li roles/proxy/tasks/main.yml です
          %ul
            %li /etc/apt/apt.conf に proxy の設定を書きます
            %li /etc/profile.d/proxy.sh に proxy の設定を書きます
            %li /etc/environment に http_proxy と https_proxy の設定を書きます
            %li /etc/sudoers に env_keep を追加することで、sudo したときにも proxy の設定が残るようにします
          = include_source 'roles/proxy/tasks/main.yml', :yaml
          %li roles/proxy/defaults/main.yml です
          %ul
            %li proxy_http と proxy_https の値を設定します
          = include_source 'roles/proxy/defaults/main.yml', :yaml
          %li roles/proxy/templates/apt.conf.j2 です
          %ul
            %li apt 用の http と https のプロキシ設定を記載します
          = include_source 'roles/proxy/templates/apt.conf.j2', :ruby
          %li roles/proxy/templates/profile.sh.j2 です
          %ul
            %li shell 用の http と https のプロキシ設定を記載します
          = include_source 'roles/proxy/templates/profile.sh.j2', :bash
      - when :packages
        %ul
          %li packages ロールの説明をします。これらは roles/packages の下に配置されています
          %li roles/packages/tasks/mail.yml です
          %ul
            %li apt-get update をします
            %li
              %del
                chromium_browser_l10n, chromium_browser, chromium_codecs をダウンロードします
              必要なくなりました[H28/12変更]
            %li
              %del
                ダウンロードした deb をインストールします(手抜きをしたので、この部分だけ冪等性がない)
              必要なくなりました[H28/12変更]
            %li
              %del
                fonts-vlgothic は apt でインストールします
              必要なくなりました[H28/12変更]
            %li chkconfig をインストールします[H28/12変更]
            %li chkconfig を使って swap を使用しないように変更します[H28/12変更]
          %li roles/packages/tasks/mail.yml です
          = include_source 'roles/packages/tasks/main.yml', :yaml
          %ul
            %li
              %del
                deb のローカルファイル名、sha256sum の値、deb のリモート URL を記載します
              必要なくなりました[H28/12変更]
      - when :signages
        %ul
          %li signages ロールの説明をします。これらは roles/signages の下に配置されています
          %li roles/signages/tasks/main.yml です。
          %ul
            %li .xinitrc を用意します。でも使われていないかも。
            %li /boot/config.txt に hdmi_group と hdmi_mode を設定します
            %li tv を on にするスクリプトを配置します
            %li テスト用に作った signage.sh を配置します(使っていません)
            %li 起動時に自動起動するスクリプト(autostart)を配置します
            %li tv on-off スケジュールファイルを配置します
            %li スケジュールファイルからスケジュール登録をします
          = include_source 'roles/signages/tasks/main.yml', :yaml
          %li roles/signages/templates/.xinitrc.j2 です(うまく動かないようです)
          %ul
            %li X の画面をスリープさせない設定
          = include_source 'roles/signages/templates/.xinitrc.j2', :bash
          %li roles/signages/templates/tvon.sh です。
          %ul
            %li
              tvservice -p だけでは画面が描画されないため、
              %del
                fbset で画面階調の書き換えを行います。
              xset で強制的に出力変更します[平成28年12月変更]。
          = include_source 'roles/signages/templates/tvon.sh.j2', :bash
          %li roles/signages/templates/autostart.j2 です
          %ul
            %li 最初の 2 行はオリジナルのものを残しています
            %li signage 用の実行用スクリプトを追加します
          = include_source 'roles/signages/templates/autostart.j2', :bash
          %li roles/signages/templates/signage.sh.j2 です
          %ul
            %li 最初の 3 行で X の画面をスリープしないようにします(.xinitrc ではうまくいかなかったため)
            %li .cache/chromium/Default/Cache を /tmp/Cache (RAM disk) にリンクします
            %li 前回強制終了したときに設定ファイルに記録されてしまうので、それを消します
            %li chromium-browser を起動します
          = include_source 'roles/signages/templates/signage.sh.j2', :bash
          %li roles/signages/templates/crontab.txt.j2 です
          %ul
            %li tvservice -o で HDMI 出力を停止します
            %li tvon.sh は上記で紹介した HDMI 出力をオンにしてリフレッシュするものです
            %li 基本的に平日の休み時間に表示するということで、前後に適当な猶予を入れて時間設定をしています。
          = include_source 'roles/signages/templates/crontab.txt.j2', :bash
      - when :exec
        %ul
          %li ここまでファイルを設定できたら、リモートマシンで以下のコマンドを叩くだけです。
          = include_oneliner 'ansible-playbook site.yml'
          %li 何か問題があった場合には、以下のように tag を指定して、その role だけを実行するとよいです(例は packages role のみ実行する)
          = include_oneliner 'ansible-playbook site.yml -t packages'
          %li 3 台のマシンに自動で設定が行われます
          %li 終了したらそれぞれのマシンにログインし、再起動をすれば終了です
          %li もともとのサイネージ端末の 720p で画面がレイアウトされているので、Raspberry pi の 1080p だと画面が小さめに表示されます。Ctrl + で 125% 表示くらいにするとよいと思います。
          %li ディスプレイ側の設定として以下の変更をしておきます
          %ul
            %li HDMI 信号が途切れた時にディスプレイをスリープにする設定
            %li HDMI 画面をオーバスキャンする設定
          %li 以上でサイネージの設営は終わりです。ansible のおかげてほとんど全自動で設定が終わっていることがわかります。
